<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>White Space</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS -->
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/navigation.css">	
</head>
<body>
	<!-- Page Wrapper -->
	<div id="page">
		
		<!-- Header -->
		<header class="header-v2">		
            <div class="bottom-header">
            	<div class="container-fluid">
            		<span class="mobile-navigation-toggle hidden-md hidden-lg">
						<span class="menui top-menu"></span>
						<span class="menui mid-menu"></span>
						<span class="menui bottom-menu"></span>
					</span>

            		<div class="logo">
            			<a href="index.html">
            				<img class="white" src="img/logo-white.png" alt="logo">
            				<img class="transparent" src="img/logo-trans.png" alt="logo">
            			</a>
            		</div>

            		<nav class="main-nav">
					    <ul class="menu">
					        <li class="menu-item menu-item-has-children has-mega-menu">
					            <a href="#">Home</a>
					            <ul class="row megamenu-wrap">
									<li class="menu-item col-sm-3">
										<a href="#">Corporate</a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Traditional Corporate 1</a></li>
                                            <li><a href="index-2.html">Traditional Corporate 2</a></li>
                                            <li><a href="index-7.html">Corporate with Partial Header Image</a></li>
                                            <li><a href="index-4.html">Corporate with Fullscreen Slider</a></li>
                                        </ul>
                                    </li>
                     
                               		<li class="menu-item col-sm-3">
										<a href="#">Creative</a>
                                        <ul class="sub-menu">
                                            <li><a href="index-12.html">Side Menu Corporate</a></li>
                                            <li><a href="index-3.html">Creative Agency with Header Hover</a></li>
                                            <li><a href="index-9.html">Creative Studio with Transparent Header</a></li>
                                        </ul>
                                    </li>
                              		
                              		<li class="menu-item col-sm-3">
                              			<a href="#">Portfolio</a>
                                        <ul class="sub-menu">
                                            <li><a href="index-5.html">Onepage Scroll Portfolio</a></li>
                                            <li><a href="index-8.html">Application Presentation</a></li>
                                            <li><a href="index-6.html">Shop with Full Thumb Products</a></li>
                                        </ul>
                                    </li>
                           
                               		<li class="menu-item col-sm-3">
                              			<a href="#">One Page</a>
                                        <ul class="sub-menu">
                                            <li><a href="index-11.html">Fullscreen Photography</a></li>
                                            <li><a href="index-10.html">Photo Studio</a></li>
                                        </ul>
                                    </li>  
                                </ul>
					        </li>
					        <li class="menu-item menu-item-has-children current-menu-parent">
					            <a href="#">Pages</a>
					            <ul class="sub-menu">
					                <li class="menu-item current-menu-item">
					                    <a href="about.html">About</a>
					                </li>
					                <li class="menu-item">
					                    <a href="services.html">Services</a>
					                </li>
					                <li class="menu-item">
					                    <a href="showreel.html">Showreel</a>
					                </li>
					                <li class="menu-item">
					                    <a href="404-page.html">404</a>
					                </li>
					                 <li class="menu-item">
					                    <a href="coming-soon.html">Coming Soon</a>
					                </li>
					                 <li class="menu-item">
					                    <a href="gallery.html">Gallery</a>
					                </li>
					                <li class="menu-item">
					                    <a href="careers.html">Careers</a>
					                </li>
					                <li class="menu-item">
					                    <a href="faq.html">FAQ</a>
					                </li>
					                <li class="menu-item">
					                    <a href="typography.html">Typography</a>
					                </li>
					            </ul>  
					        </li>
							<li class="menu-item menu-item-has-children">
							    <a href="#">Portfolio</a>
							    <ul class="sub-menu">
							        <li class="menu-item menu-item-has-children">
							            <a href="#">Grid</a>
							             <ul class="sub-menu">
							                <li class="menu-item">
							                    <a href="portfolio-1col.html">1 Column</a>
							                </li>
							                <li class="menu-item">
							                    <a href="portfolio-2col.html">2 Columns</a>
							                </li>
							                <li class="menu-item">
							                    <a href="portfolio-3col.html">3 Columns</a>
							                </li>
							                <li class="menu-item">
							                    <a href="portfolio-4col.html">4 Columns</a>
							                </li>
							            </ul>
							        </li>
							        <li class="menu-item">
							            <a href="portfolio-masonry.html">Masonry</a>
							        </li>
							        <li class="menu-item">
							            <a href="portfolio-wall.html">Wall</a>
							        </li>
							        <li class="menu-item">
							            <a href="portfolio.html">Without Borders</a>
							        </li>
							        <li class="menu-item">
							            <a href="single-portfolio.html">Single Portfolio</a>
							        </li>
							    </ul>
							</li>
							<li class="menu-item menu-item-has-children">
							    <a href="#">Journal</a>
							    <ul class="sub-menu">
							        <li class="menu-item">
							            <a href="blog-listing-nosidebar.html">Journal Listing</a>
							        </li>
							        <li class="menu-item">
							            <a href="blog-listing.html">With Right Sidebar</a>
							        </li>
							        <li class="menu-item">
							            <a href="blog.html">With Columns</a>
							        </li>
							        <li class="menu-item menu-item-has-children">
							            <a href="#">Single Post</a>
							            <ul class="sub-menu">
							                <li class="menu-item">
							                    <a href="single-post-full.html">Fullwidth Post</a>
							                </li>
							                <li class="menu-item">
							                    <a href="single-post.html">Post With Partial Image</a>
							                </li>
							                <li class="menu-item">
							                    <a href="single-post-big.html">Post With Big Image</a>
							                </li>
							            </ul>
							        </li>
							    </ul>
							</li>
					        <li class="menu-item menu-item-has-children">
					            <a href="#">Shop</a>
					            <ul class="sub-menu">
					                <li class="menu-item">
					                    <a href="shop.html">All Products</a>
					                </li>
					                <li class="menu-item">
					                    <a href="shop-sidebar.html">All Products With Sidebar</a>
					                </li>
					                <li class="menu-item">
					                    <a href="single-product.html">Single Product</a>
					                </li>
					                <li class="menu-item">
					                    <a href="cart.html">Cart</a>
					                </li>
					            </ul>
					        </li>
					        <li class="menu-item menu-item-has-children">
					            <a href="contact.html">Contact</a>
					        </li>
					    </ul>
					</nav>
				   	
				   	<div class="right-box">	
						<ul class="actions">
		                    <li class="cart-btn">
		                        <a href="cart.html"><i class="fa fa-shopping-cart"></i>$<span class="cart-btn-price">80.00</span> (<span class="cart-btn-count">2</span> items)</a>
		                        <div class="cart-items">
		                        	<div class="cart">
										<ul>
											<li class="cart-item">
												<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
												<a class="cover" href="single-product.html">
													<img src="img/recent-post-1.jpg" alt="cart cover">
												</a>
												<p class="title">
													<a href="single-product.html">Duis Aute Irure Dolor</a>
												</p>
												<span class="price"><span class="item-price-number">3 x 2500</span>$</span>
											</li>

											<li class="cart-item">
												<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
												<a class="cover" href="single-product.html">
													<img src="img/recent-post-2.jpg" alt="cart cover">
												</a>
												<p class="title">
													<a href="single-product.html">Temporibus Autem Quibus</a>
												</p>
												<span class="price"><span class="item-price-number">3 x 1500</span>$</span>
											</li>
										</ul>

										<div class="sub-total">
											Subtotal: <span>$12, 000</span>
										</div>

										<a href="cart.html" class="btn view-cart yellow">view cart</a>
										<a href="#" class="btn checkout">checkout</a>
									</div>
								</div>
		                    </li>
		                    <li class="custom-select">
								<span class="default"><i class="fa fa-globe"></i><span class="content">Eng</span></span>
								<ul class="select-options dismiss">
									<li>Eng</li>
									<li>Rus</li>
									<li>Esp</li>
									<li>Fra</li>
								</ul>
		                    </li>
		                </ul>

						<div class="search-trigger">
					   		<i class="icon fa fa-search dismiss"></i>
					   		<div class="search-box dismiss">
					   			<form class="search-form dismiss" action="#">
					   				<div class="input-line dismiss">
						   				<input type="text" class="search-input dismiss" placeholder="Search">
						   				<button class="search-submit dismiss"><i class="fa fa-search"></i></button>
						   			</div>
					   			</form>
					   		</div>
					   	</div>
					</div>
            	</div>
            </div>
		</header>

		<!-- Main Content -->
		<div class="content-wrapper">
			<section class="hero-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="rev_slider_wrapper full">
                                <div class="fullscreen_slider rev_slider" data-type="hero">
                                	<ul>		
										<li data-transition="fade">			
											<img src="img/about-section-hero.jpg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

											<div class="tp-caption WhiteSubTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-55" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on">Inside Our Studio
											</div>

											<div class="tp-caption WhiteTtl px40 tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="0" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on">History. ideas. inspiration.
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="79" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;"
												data-start="1000"
												data-responsive_offset="on" 
												><a class="btn yellow medium" href="#">view story</a>
											</div>
										</li>
									</ul>

									<i class="scroll icon-scroll"></i>					
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>

			<section class="about-us-section">
				<div class="container">
					<div class="section-header">
						<h2>A Team of creatives based in melbroune</h2>
						<p>When we engage in what we are naturally suited to do, our work takes on the quality of play and it is play that stimulates creativity.</p>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<img class="aligncenter" src="img/about-us-section.jpg" alt="about us">
						</div>
						<div class="col-sm-6">
							<p class="description">Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it. My favorite things in life don't cost any money. It's really clear that the most precious resource we all have is time.</p>
							<a class="btn yellow light-hover alignright "href="#">view projects</a>
						</div>
						<div class="col-sm-6">
							<p class="description">Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while. That's because they were able to connect experiences they've had and synthesize new things. Design is not just what it looks like and feels like. Design is how it works.</p>
							<a class="btn outline border alignleft"href="#">get in touch</a>
						</div>
					</div>
				</div>
			</section>

			<section class="about-skills-section">
				<div class="container-fluid">
					<div class="row bg-alfa position-relative">
						<div class="col-md-4 no-padding position-static">
							<div class="row-bg left">
								<img src="img/about-skills-3.jpg" alt="skills section">
							</div>
						</div>
						<div class="col-md-4 no-padding">
							<div class="skill-item">
								<i class="icon icon-Target2"></i>
								<h4>brand identity</h4>
								<p class="description">Design is the fundamental soul of a man-made creation that ends up expressing itself in successive outer layers of the product or service. The essence of the iMac is to be the finest possible consumer computer in which each element plays together.</p>
								<p class="number">01</p>
							</div>
						</div>
						<div class="col-md-4 no-padding position-static">
							<div class="row-bg">
								<img src="img/about-skills-2.jpg" alt="skills section">
							</div>
						</div>
					</div>
					<div class="row bg-alfa position-relative">
						<div class="col-md-4 no-padding">
							<div class="skill-item">
								<i class="icon icon-Rocket"></i>
								<h4>Ui/Ux Design</h4>
								<p class="description">Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. That's because they were able to connect experiences they've had and synthesize new things.</p>
								<p class="number">02</p>
							</div>
						</div>
						<div class="col-md-4 no-padding position-static">
							<div class="row-bg center">
								<img src="img/about-skills-1.jpg" alt="skills section">
							</div>
						</div>
						<div class="col-md-4 no-padding">
							<div class="skill-item">
								<i class="icon icon-Browser"></i>
								<h4>Development</h4>
								<p class="description">First was the mouse. The second was the click wheel. And now, we're going to bring multi-touch to the market. And each of these revolutionary interfaces has made possible a revolutionary product - the Mac, the iPod and now the iPhone.</p>
								<p class="number">03</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="team-members-section v3">
				<div class="container">
					<div class="section-header">
						<h2>Meet Our Team</h2>
						<p>When we engage in what we are naturally suited to do, our work takes on the quality of play and it is play that stimulates creativity.</p>
					</div>

					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="team-member">
								<div class="cover">
									<a href="#"><img src="img/team-member-1.jpg" alt="member cover"></a>
								</div>
								<h4 class="name"><a href="#">Emily Banks</a></h4>
								<p class="position">Art Director</p>
								<p class="biography">Design is how you treat your customers. If you treat them well from an environmental, emotional, and aesthetic standpoint, you’re doing good design.</p>
								<ul class="socials clean-list">
									<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="team-member">
								<div class="cover">
									<a href="#"><img src="img/team-member-2.jpg" alt="member cover"></a>
								</div>
								<h4 class="name"><a href="#">Stephen Barnes</a></h4>
								<p class="position">Designer</p>
								<p class="biography">Helvetica is like a really good friend. You go off and hang with the other fonts and even use them a little, but helvetica is always there. A nice stable friend.</p>
								<ul class="socials clean-list">
									<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-4 col-sm-6">
							<div class="team-member">
								<div class="cover">
									<a href="#"><img src="img/team-member-3.jpg" alt="member cover"></a>
								</div>
								<h4 class="name"><a href="#">Brenda Morrison</a></h4>
								<p class="position">Photographer</p>
								<p class="biography">It isn’t a question of enhancement through design. Whether an editor realizes it or not, design is part of what he does every time he prints the paper.</p>
								<ul class="socials clean-list">
									<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- Footer -->
		<footer>
			<div class="top-footer">
				<div class="container">
					<div class="row isotope">
						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_contact">
	                            <h4 class="widget-title">Contact Info</h4>
	                            <div class="widget-body">
	                            	<ul class="contact-info clean-list">
	                            		<li>
	                            			<span class="title">Address:</span>
		                            		<p>21 King Street, </p>
		                            		<p>Melbourne Victoria 3000 </p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Phone:</span>
		                            		<p>+1 (800) 456 37 96 - Office</p>
		                            		<p>+1 (800) 617 28 32 - Fax</p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Email:</span>
		                            		<p><a href="mailto:email@gt3themes.com">email@gt3themes.com</a></p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Follow Us:</span>
		                            		<ul class="socials clean-list">
		                            			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-behance-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
		                            		</ul>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_instagram">
	                            <h4 class="widget-title">Follow Instagram</h4>
	                            <div class="widget-body">
	                            	<ul class="instagram-feed clean-list" data-instagram="12" data-instagram-username="mrgicucaus"></ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_tag_cloud">
	                            <h4 class="widget-title">Popular Tags</h4>
	                            <div class="widget-body">
	                            	<div class="tagcloud">
	                            		<a href="#">art</a>
	                            		<a href="#">audio</a>
	                            		<a href="#">beauty</a>
	                            		<a href="#">concepts</a>
	                            		<a href="#">entertainment</a>
	                            		<a href="#">gallery</a>
	                            		<a href="#">ideas</a>
	                            		<a href="#">image</a>
	                            		<a href="#">lifestyle</a>
	                            		<a href="#">link</a>
	                            		<a href="#">nature</a>
	                            		<a href="#">people</a>
	                            		<a href="#">post</a>
	                            		<a href="#">quote</a>
	                            		<a href="#">video</a>
	                            	</div>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_recent_posts">
	                            <h4 class="widget-title">Recent Posts</h4>
	                            <div class="widget-body">
	                            	<ul class="recent-posts clean-list">
	                            		<li>
	                            			<img class="cover" src="img/recent-post-1.jpg" alt="recent post">
	                            			<h4><a href="#">Duis Aute Irure Dolor</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-2.jpg" alt="recent post">
	                            			<h4><a href="#">Temporibus Autem Quibus</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-3.jpg" alt="recent post">
	                            			<h4><a href="#">Saepe Eveniet Ut Et</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>
					</div>
				</div>
			</div>

			<div class="bottom-footer">
				<div class="container">
					<div class="alignleft align-left copyright">
						Copyright © 2020 WhiteSpace. All Rights Reserved.
					</div>

					<div class="alignright align-right copyright">
						Multi-Purpose WordPress Theme by <a href="http://gt3themes.com">GT3themes.com</a>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/options.js"></script>
</body>
</html>