<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>White Space</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS -->
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/navigation.css">	
</head>
<body>

	<!-- Page Wrapper -->
	<div id="page">
		
		<!-- Header -->
		<header class="header-v2">		
            <div class="bottom-header">
            	<div class="container-fluid">
            		<span class="mobile-navigation-toggle hidden-md hidden-lg">
						<span class="menui top-menu"></span>
						<span class="menui mid-menu"></span>
						<span class="menui bottom-menu"></span>
					</span>

            		<div class="logo">
            			<a href="index.html">
            				<img class="white" src="img/logo-white.png" alt="logo">
            				<img class="transparent" src="img/logo-trans.png" alt="logo">
            			</a>
            		</div>

            		<nav class="main-nav">
					    <ul class="menu">
					        <li class="menu-item menu-item-has-children has-mega-menu">
					            <a href="#">Home</a>
					            <ul class="row megamenu-wrap">
									<li class="menu-item col-sm-3">
										<a href="#">Corporate</a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Traditional Corporate 1</a></li>
                                            <li><a href="index-2.html">Traditional Corporate 2</a></li>
                                            <li><a href="index-7.html">Corporate with Partial Header Image</a></li>
                                            <li><a href="index-4.html">Corporate with Fullscreen Slider</a></li>
                                        </ul>
                                    </li>
                     
                               		<li class="menu-item col-sm-3">
										<a href="#">Creative</a>
                                        <ul class="sub-menu">
                                            <li><a href="index-12.html">Side Menu Corporate</a></li>
                                            <li><a href="index-3.html">Creative Agency with Header Hover</a></li>
                                            <li><a href="index-9.html">Creative Studio with Transparent Header</a></li>
                                        </ul>
                                    </li>
                              		
                              		<li class="menu-item col-sm-3">
                              			<a href="#">Portfolio</a>
                                        <ul class="sub-menu">
                                            <li><a href="index-5.html">Onepage Scroll Portfolio</a></li>
                                            <li><a href="index-8.html">Application Presentation</a></li>
                                            <li><a href="index-6.html">Shop with Full Thumb Products</a></li>
                                        </ul>
                                    </li>
                           
                               		<li class="menu-item col-sm-3">
                              			<a href="#">One Page</a>
                                        <ul class="sub-menu">
                                            <li><a href="index-11.html">Fullscreen Photography</a></li>
                                            <li><a href="index-10.html">Photo Studio</a></li>
                                        </ul>
                                    </li>  
                                </ul>
					        </li>
					        <li class="menu-item menu-item-has-children">
					            <a href="#">Pages</a>
					            <ul class="sub-menu">
					                <li class="menu-item">
					                    <a href="about.html">About</a>
					                </li>
					                <li class="menu-item">
					                    <a href="services.html">Services</a>
					                </li>
					                <li class="menu-item">
					                    <a href="showreel.html">Showreel</a>
					                </li>
					                <li class="menu-item">
					                    <a href="404-page.html">404</a>
					                </li>
					                 <li class="menu-item">
					                    <a href="coming-soon.html">Coming Soon</a>
					                </li>
					                 <li class="menu-item">
					                    <a href="gallery.html">Gallery</a>
					                </li>
					                <li class="menu-item">
					                    <a href="careers.html">Careers</a>
					                </li>
					                <li class="menu-item">
					                    <a href="faq.html">FAQ</a>
					                </li>
					                <li class="menu-item">
					                    <a href="typography.html">Typography</a>
					                </li>
					            </ul>  
					        </li>
							<li class="menu-item menu-item-has-children">
							    <a href="#">Portfolio</a>
							    <ul class="sub-menu">
							        <li class="menu-item menu-item-has-children">
							            <a href="#">Grid</a>
							             <ul class="sub-menu">
							                <li class="menu-item">
							                    <a href="portfolio-1col.html">1 Column</a>
							                </li>
							                <li class="menu-item">
							                    <a href="portfolio-2col.html">2 Columns</a>
							                </li>
							                <li class="menu-item">
							                    <a href="portfolio-3col.html">3 Columns</a>
							                </li>
							                <li class="menu-item">
							                    <a href="portfolio-4col.html">4 Columns</a>
							                </li>
							            </ul>
							        </li>
							        <li class="menu-item">
							            <a href="portfolio-masonry.html">Masonry</a>
							        </li>
							        <li class="menu-item">
							            <a href="portfolio-wall.html">Wall</a>
							        </li>
							        <li class="menu-item">
							            <a href="portfolio.html">Without Borders</a>
							        </li>
							        <li class="menu-item">
							            <a href="single-portfolio.html">Single Portfolio</a>
							        </li>
							    </ul>
							</li>
							<li class="menu-item menu-item-has-children current-menu-parent">
							    <a href="#">Journal</a>
							    <ul class="sub-menu">
							        <li class="menu-item">
							            <a href="blog-listing-nosidebar.html">Journal Listing</a>
							        </li>
							        <li class="menu-item current-menu-item">
							            <a href="blog-listing.html">With Right Sidebar</a>
							        </li>
							        <li class="menu-item">
							            <a href="blog.html">With Columns</a>
							        </li>
							        <li class="menu-item menu-item-has-children">
							            <a href="#">Single Post</a>
							            <ul class="sub-menu">
							                <li class="menu-item">
							                    <a href="single-post-full.html">Fullwidth Post</a>
							                </li>
							                <li class="menu-item">
							                    <a href="single-post.html">Post With Partial Image</a>
							                </li>
							                <li class="menu-item">
							                    <a href="single-post-big.html">Post With Big Image</a>
							                </li>
							            </ul>
							        </li>
							    </ul>
							</li>
					        <li class="menu-item menu-item-has-children">
					            <a href="#">Shop</a>
					            <ul class="sub-menu">
					                <li class="menu-item">
					                    <a href="shop.html">All Products</a>
					                </li>
					                <li class="menu-item">
					                    <a href="shop-sidebar.html">All Products With Sidebar</a>
					                </li>
					                <li class="menu-item">
					                    <a href="single-product.html">Single Product</a>
					                </li>
					                <li class="menu-item">
					                    <a href="cart.html">Cart</a>
					                </li>
					            </ul>
					        </li>
					        <li class="menu-item menu-item-has-children">
					            <a href="contact.html">Contact</a>
					        </li>
					    </ul>
					</nav>
				   	
				   	<div class="right-box">	
						<ul class="actions">
		                    <li class="cart-btn">
		                        <a href="cart.html"><i class="fa fa-shopping-cart"></i>$<span class="cart-btn-price">80.00</span> (<span class="cart-btn-count">2</span> items)</a>
		                        <div class="cart-items">
		                        	<div class="cart">
										<ul>
											<li class="cart-item">
												<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
												<a class="cover" href="single-product.html">
													<img src="img/recent-post-1.jpg" alt="cart cover">
												</a>
												<p class="title">
													<a href="single-product.html">Duis Aute Irure Dolor</a>
												</p>
												<span class="price"><span class="item-price-number">3 x 2500</span>$</span>
											</li>

											<li class="cart-item">
												<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
												<a class="cover" href="single-product.html">
													<img src="img/recent-post-2.jpg" alt="cart cover">
												</a>
												<p class="title">
													<a href="single-product.html">Temporibus Autem Quibus</a>
												</p>
												<span class="price"><span class="item-price-number">3 x 1500</span>$</span>
											</li>
										</ul>

										<div class="sub-total">
											Subtotal: <span>$12, 000</span>
										</div>

										<a href="cart.html" class="btn view-cart yellow">view cart</a>
										<a href="#" class="btn checkout">checkout</a>
									</div>
								</div>
		                    </li>
		                    <li class="custom-select">
								<span class="default"><i class="fa fa-globe"></i><span class="content">Eng</span></span>
								<ul class="select-options dismiss">
									<li>Eng</li>
									<li>Rus</li>
									<li>Esp</li>
									<li>Fra</li>
								</ul>
		                    </li>
		                </ul>

						<div class="search-trigger">
					   		<i class="icon fa fa-search dismiss"></i>
					   		<div class="search-box dismiss">
					   			<form class="search-form dismiss" action="#">
					   				<div class="input-line dismiss">
						   				<input type="text" class="search-input dismiss" placeholder="Search">
						   				<button class="search-submit dismiss"><i class="fa fa-search"></i></button>
						   			</div>
					   			</form>
					   		</div>
					   	</div>
					</div>
            	</div>
            </div>
		</header>

		<!-- Main Content -->
		<div class="content-wrapper">
			<section class="hero-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="rev_slider_wrapper full">
                                <div class="fullscreen_slider rev_slider" data-type="hero">
                                	<ul>		
										<li data-transition="fade">			
											<img src="img/blog-listing-hero.jpg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

											<div class="tp-caption WhiteSubTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-54" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on">Good Stories Daily
											</div>

											<div class="tp-caption WhiteTtl px40 tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="0" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on">Welcome to our journal
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="78" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;"
												data-start="1000" 
												data-responsive_offset="on" 
												><a class="btn yellow medium scroll_to_section" href="#">view stories</a>
											</div>
										</li>
									</ul>

									<i class="scroll icon-scroll"></i>								
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>

			<section class="blog-page-section">
				<div class="container">
					<div class="row">
						<div class="col-md-9 col-content">
							<div class="blog-posts-list">
								<div class="blog-post-item">
									<div class="cover">
										<div class="slick-carousel white-arrows gallery" data-fade="true" data-speed="2000" data-dots="false" data-infinite="true" data-items-desktop="1">	
											<ul class="clean-list carousel-items">
												<li class="carousel-item">
													<img src="img/blog-post-img-1.jpg" alt="blog post">
												</li>
												<li class="carousel-item">
													<img src="img/blog-post-img-2.jpg" alt="blog post">
												</li>
											</ul>
										</div>
									</div>
									
									<h4 class="post-title"><a href="single-post.html">Gallery Post</a></h4>

									<ul class="post-meta clean-list">
										<li>3 August 2019</li>
										<li>by Mixuha</li>
										<li><a href="#">Design</a></li>
										<li><a href="#">3 Comments<a/></li>
									</ul>

									<p class="description">What makes great design great is not a trendy technique, but the logic and conceptual aspect that were figured out in the designer’s mind – or on more likely, on paper – before a mouse cursor ever opened Photoshop.</p>

									<a class="read-more" href="single-post.html">Read more</a>
								</div>

								<div class="blog-post-item">
									<div class="cover video">
										<img src="img/blog-post-img-2.jpg" alt="blog post">
										<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="video-link"></a>
									</div>
									
									<h4 class="post-title"><a href="single-post.html">Standard Video Post</a></h4>

									<ul class="post-meta clean-list">
										<li>3 August 2019</li>
										<li>by Mixuha</li>
										<li><a href="#">Design</a></li>
										<li><a href="#">3 Comments<a/></li>
									</ul>

									<p class="description">Design, in its broadest sense, is the enabler of the digital era – it’s a process that creates order out of chaos, that renders technology usable to business. Design means being good, not just looking good.</p>

									<a class="read-more" href="single-post.html">Read more</a>
								</div>

								<div class="blog-post-item">
									<div class="cover">
										<img src="img/blog-post-img-3.jpg" alt="blog post">
									</div>
									
									<h4 class="post-title"><a href="single-post.html">Standard image Post</a></h4>

									<ul class="post-meta clean-list">
										<li>3 August 2019</li>
										<li>by Mixuha</li>
										<li><a href="#">Design</a></li>
										<li><a href="#">3 Comments<a/></li>
									</ul>

									<p class="description">If it’s a good idea and it gets you excited, try it, and if it bursts into flames, that’s going to be exciting too. People always ask, ‘What is your greatest failure?’ I always have the same answer - We’re working on it right now, it’s gonna be awesome!</p>

									<a class="read-more" href="single-post.html">Read more</a>
								</div>

								<ul class="page-numbers">
									<li><a class="prev page-numbers" href="#">next</a></li>
									<li><span class="page-numbers current">1</span></li>
									<li><a class="page-numbers" href="#">2</a></li>
									<li><a class="page-numbers" href="#">3</a></li>
									<li><a class="page-numbers" href="#">4</a></li>
									<li><a class="page-numbers" href="#">5</a></li>
									<li><a class="page-numbers" href="#">6</a></li>
									<li><a class="next page-numbers" href="#">next</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-sidebar">
							<div class="sidebar">
								<div class="row isotope">
									<div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
										<div class="widget widget_search">
											<form class="search-form">
								   				<div class="input-line">
									   				<input type="text" class="search-input" placeholder="Search">
									   				<button class="search-submit"><i class="fa fa-search"></i></button>
									   			</div>
								   			</form>
										</div>
									</div>
									
									<div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
										<div class="widget widget_recent_posts">
				                            <h4 class="widget-title">Popular posts</h4>
				                            
			                            	<ul class="recent-posts clean-list">
			                            		<li>
			                            			<img class="cover" src="img/recent-post-1.jpg" alt="recent post">
			                            			<h4><a href="#">Duis Aute Irure Dolor</a></h4>
			                            			<span class="date">June 09, 2018</span>
			                            		</li>
			                            		<li>
			                            			<img class="cover" src="img/recent-post-2.jpg" alt="recent post">
			                            			<h4><a href="#">Temporibus Autem Quibus</a></h4>
			                            			<span class="date">June 09, 2018</span>
			                            		</li>
			                            		<li>
			                            			<img class="cover" src="img/recent-post-3.jpg" alt="recent post">
			                            			<h4><a href="#">Saepe Eveniet Ut Et</a></h4>
			                            			<span class="date">June 09, 2018</span>
			                            		</li>
			                            	</ul>
				                        </div>
				                    </div>

				                    <div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
										<div class="widget widget_categories">
				                            <h4 class="widget-title">Categories</h4>
				                            
			                            	<ul>
			                            		<li><a href="#">Audio Post Format</a></li>
			                            		<li><a href="#">Image Post Format</a></li>
			                            		<li><a href="#">Link Post Format</a></li>
			                            		<li><a href="#">Other Post Formats</a></li>
			                            		<li><a href="#">Standard Post Format</a></li>
			                            		<li><a href="#">Quote Post Format</a></li>
			                            		<li><a href="#">Video Post Format</a></li>
			                            	</ul>
				                        </div>
				                    </div>
									
									<div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
				                        <div class="widget widget_tag_cloud">
				                            <h4 class="widget-title">Popular Tags</h4>
			                            	<div class="tagcloud">
			                            		<a href="#">art</a>
			                            		<a href="#">audio</a>
			                            		<a href="#">beauty</a>
			                            		<a href="#">concepts</a>
			                            		<a href="#">entertainment</a>
			                            		<a href="#">gallery</a>
			                            		<a href="#">ideas</a>
			                            		<a href="#">image</a>
			                            		<a href="#">lifestyle</a>
			                            		<a href="#">link</a>
			                            		<a href="#">nature</a>
			                            		<a href="#">people</a>
			                            		<a href="#">post</a>
			                            		<a href="#">quote</a>
			                            		<a href="#">video</a>
			                            	</div>
				                        </div>
				                    </div>
									
									<div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
				                        <div class="widget widget_text">
											<img src="img/sidebar-banner-image.jpg" alt="sidebar banner">
				                        </div>
				                    </div>
									
									<div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
				                        <div class="widget widget_instagram">
				                            <h4 class="widget-title">Follow Instagram</h4>
				                            <div class="widget-body">
				                            	<ul class="instagram-feed clean-list" data-instagram="12" data-instagram-username="mrgicucaus"></ul>
				                            </div>
				                        </div>
				                    </div>
									
									<div class="col-md-12 col-sm-6 col-xs-12 isotope-item">
				                        <div class="widget widget_text">
				                        	<h4 class="widget-title">Text widget</h4>
											<p>Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma - which is living with the results of other people's thinking. Don't let the noise of others' opinions drown out your own inner voice. And most important, have the courage to follow your heart and intuition.</p>
				                        </div>
				                    </div>
		                        </div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- Footer -->
		<footer>
			<div class="top-footer">
				<div class="container">
					<div class="row isotope">
						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_contact">
	                            <h4 class="widget-title">Contact Info</h4>
	                            <div class="widget-body">
	                            	<ul class="contact-info clean-list">
	                            		<li>
	                            			<span class="title">Address:</span>
		                            		<p>21 King Street, </p>
		                            		<p>Melbourne Victoria 3000 </p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Phone:</span>
		                            		<p>+1 (800) 456 37 96 - Office</p>
		                            		<p>+1 (800) 617 28 32 - Fax</p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Email:</span>
		                            		<p><a href="mailto:email@gt3themes.com">email@gt3themes.com</a></p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Follow Us:</span>
		                            		<ul class="socials clean-list">
		                            			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-behance-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
		                            		</ul>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_instagram">
	                            <h4 class="widget-title">Follow Instagram</h4>
	                            <div class="widget-body">
	                            	<ul class="instagram-feed clean-list" data-instagram="12" data-instagram-username="mrgicucaus"></ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_tag_cloud">
	                            <h4 class="widget-title">Popular Tags</h4>
	                            <div class="widget-body">
	                            	<div class="tagcloud">
	                            		<a href="#">art</a>
	                            		<a href="#">audio</a>
	                            		<a href="#">beauty</a>
	                            		<a href="#">concepts</a>
	                            		<a href="#">entertainment</a>
	                            		<a href="#">gallery</a>
	                            		<a href="#">ideas</a>
	                            		<a href="#">image</a>
	                            		<a href="#">lifestyle</a>
	                            		<a href="#">link</a>
	                            		<a href="#">nature</a>
	                            		<a href="#">people</a>
	                            		<a href="#">post</a>
	                            		<a href="#">quote</a>
	                            		<a href="#">video</a>
	                            	</div>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_recent_posts">
	                            <h4 class="widget-title">Recent Posts</h4>
	                            <div class="widget-body">
	                            	<ul class="recent-posts clean-list">
	                            		<li>
	                            			<img class="cover" src="img/recent-post-1.jpg" alt="recent post">
	                            			<h4><a href="#">Duis Aute Irure Dolor</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-2.jpg" alt="recent post">
	                            			<h4><a href="#">Temporibus Autem Quibus</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-3.jpg" alt="recent post">
	                            			<h4><a href="#">Saepe Eveniet Ut Et</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>
					</div>
				</div>
			</div>

			<div class="bottom-footer">
				<div class="container">
					<div class="alignleft align-left copyright">
						Copyright © 2020 WhiteSpace. All Rights Reserved.
					</div>

					<div class="alignright align-right copyright">
						Multi-Purpose WordPress Theme by <a href="http://gt3themes.com">GT3themes.com</a>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/options.js"></script>
</body>
</html>