<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>White Space</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS -->
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/navigation.css">	
</head>
<body data-smooth-scroll="on">

	<!-- Page Wrapper -->
	<div id="page">
		
		<!-- Main Content -->
		<div class="content-wrapper">
			<section class="coming-soon-section">
				<div class="container">
					<div class="logo">
            			<a href="index.html">
            				<img src="img/logo-white.png" alt="logo">
            			</a>
            		</div>
					
					<h2>Working on Something Fantastic</h2>
					<h1>Our website is coming soon</h1>

					<div class="countdown-box">
	                    <div class="row the-countdown" data-duedate="12/31/2015">
	                        <div class="col-md-3 col-xs-6">
	                            <div class="time-box" data-days>00</div><span class="time-data">Days</span>
	                        </div>
	                        <div class="col-md-3 col-xs-6">
	                            <div class="time-box" data-hours>00</div><span class="time-data">Hours</span>
	                        </div>
	                        <div class="col-md-3 col-xs-6">
	                            <div class="time-box" data-minutes>00</div><span class="time-data">Minutes</span>
	                        </div>
	                        <div class="col-md-3 col-xs-6">
	                            <div class="time-box" data-seconds>00</div><span class="time-data">Seconds</span>
	                        </div>
	                    </div>
	                </div>
					
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<div class="subscribe-box">
								<h5>we’ll be here soon, subscribe to be notified</h5>
								<form class="subscribe-form light" action="#">
									<div class="input-line">
						   				<input type="text" class="form-input" placeholder="Your email">
						   			</div>
						   			<input type="submit" class="form-submit" value="Subscribe">
								</form>
			                </div>
						</div>
					</div>

					<div class="bottom">
						<ul class="socials clean-list">
	            			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
	            			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
	            			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
	            			<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
	            			<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
	            			<li><a href="#"><i class="fa fa-behance-square"></i></a></li>
	            			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
	            		</ul>

	            		<p class="copyright">Copyright © 2020 WhiteSpace. All Rights Reserved.</p>
					</div>
	            </div>
			</section>
		</div>
	</div>

	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/smooth-scroll.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/options.js"></script>
</body>
</html>