<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>White Space</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS -->
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/navigation.css">	
</head>
<body class="has-side-menu">

	<!-- Page Wrapper -->
	<div id="page">
		
		<!-- Header -->
		<header class="header-v4">
			<span class="mobile-navigation-toggle hidden-lg">
				<span class="menui top-menu"></span>
				<span class="menui mid-menu"></span>
				<span class="menui bottom-menu"></span>
			</span>

        	<div class="logo">
    			<a href="index.html">
    				<img class="white" src="img/logo-white.png" alt="logo">
    			</a>
    		</div>
        	<nav class="main-nav">
			    <ul class="menu">
			        <li class="menu-item menu-item-has-children has-mega-menu current-menu-parent">
			            <a href="#">Home</a>
			            <ul class="row megamenu-wrap">
							<li class="menu-item col-sm-3 menu-item-has-children">
								<a href="#">Corporate</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Traditional Corporate 1</a></li>
                                    <li><a href="index-2.html">Traditional Corporate 2</a></li>
                                    <li><a href="index-7.html">Corporate with Partial Header Image</a></li>
                                    <li><a href="index-4.html">Corporate with Fullscreen Slider</a></li>
                                </ul>
                            </li>
             
                       		<li class="menu-item col-sm-3 menu-item-has-children current-menu-parent">
								<a href="#">Creative</a>
                                <ul class="sub-menu">
                                    <li class="current-menu-item"><a href="index-12.html">Side Menu Corporate</a></li>
                                    <li><a href="index-3.html">Creative Agency with Header Hover</a></li>
                                    <li><a href="index-5.html">Creative Studio with Transparent Header</a></li>
                                </ul>
                            </li>
                      		
                      		<li class="menu-item col-sm-3 menu-item-has-children">
                      			<a href="#">Portfolio</a>
                                <ul class="sub-menu">
                                    <li><a href="index-9.html">Onepage Scroll Portfolio</a></li>
                                    <li><a href="index-8.html">Application Presentation</a></li>
                                    <li><a href="index-6.html">Shop with Full Thumb Products</a></li>
                                </ul>
                            </li>
                   
                       		<li class="menu-item col-sm-3 menu-item-has-children">
                      			<a href="#">One Page</a>
                                <ul class="sub-menu">
                                    <li><a href="index-11.html">Fullscreen Photography</a></li>
                                    <li><a href="index-10.html">Photo Studio</a></li>
                                </ul>
                            </li>  
                        </ul>
			        </li>
			        <li class="menu-item menu-item-has-children">
			            <a href="#">Pages</a>
			            <ul class="sub-menu">
			                <li class="menu-item">
			                    <a href="about.html">About</a>
			                </li>
			                <li class="menu-item">
			                    <a href="services.html">Services</a>
			                </li>
			                <li class="menu-item">
			                    <a href="showreel.html">Showreel</a>
			                </li>
			                <li class="menu-item">
			                    <a href="404-page.html">404</a>
			                </li>
			                 <li class="menu-item">
			                    <a href="coming-soon.html">Coming Soon</a>
			                </li>
			                 <li class="menu-item">
			                    <a href="gallery.html">Gallery</a>
			                </li>
			                <li class="menu-item">
			                    <a href="careers.html">Careers</a>
			                </li>
			                <li class="menu-item">
			                    <a href="faq.html">FAQ</a>
			                </li>
			                <li class="menu-item">
			                    <a href="typography.html">Typography</a>
			                </li>
			            </ul>  
			        </li>
					<li class="menu-item menu-item-has-children">
					    <a href="#">Portfolio</a>
					    <ul class="sub-menu">
					        <li class="menu-item menu-item-has-children">
					            <a href="#">Grid</a>
					             <ul class="sub-menu">
					                <li class="menu-item">
					                    <a href="portfolio-1col.html">1 Column</a>
					                </li>
					                <li class="menu-item">
					                    <a href="portfolio-2col.html">2 Columns</a>
					                </li>
					                <li class="menu-item">
					                    <a href="portfolio-3col.html">3 Columns</a>
					                </li>
					                <li class="menu-item">
					                    <a href="portfolio-4col.html">4 Columns</a>
					                </li>
					            </ul>
					        </li>
					        <li class="menu-item">
					            <a href="portfolio-masonry.html">Masonry</a>
					        </li>
					        <li class="menu-item">
					            <a href="portfolio-wall.html">Wall</a>
					        </li>
					        <li class="menu-item">
					            <a href="portfolio.html">Without Borders</a>
					        </li>
					        <li class="menu-item">
					            <a href="single-portfolio.html">Single Portfolio</a>
					        </li>
					    </ul>
					</li>
					<li class="menu-item menu-item-has-children">
					    <a href="#">Journal</a>
					    <ul class="sub-menu">
					        <li class="menu-item">
					            <a href="blog-listing-nosidebar.html">Journal Listing</a>
					        </li>
					        <li class="menu-item">
					            <a href="blog-listing.html">With Right Sidebar</a>
					        </li>
					        <li class="menu-item">
					            <a href="blog.html">With Columns</a>
					        </li>
					        <li class="menu-item menu-item-has-children">
					            <a href="#">Single Post</a>
					            <ul class="sub-menu">
					                <li class="menu-item">
					                    <a href="single-post-full.html">Fullwidth Post</a>
					                </li>
					                <li class="menu-item">
					                    <a href="single-post.html">Post With Partial Image</a>
					                </li>
					                <li class="menu-item">
					                    <a href="single-post-big.html">Post With Big Image</a>
					                </li>
					            </ul>
					        </li>
					    </ul>
					</li>
			        <li class="menu-item menu-item-has-children">
			            <a href="#">Shop</a>
			            <ul class="sub-menu">
			                <li class="menu-item">
			                    <a href="shop.html">All Products</a>
			                </li>
			                <li class="menu-item">
			                    <a href="shop-sidebar.html">All Products With Sidebar</a>
			                </li>
			                <li class="menu-item">
			                    <a href="single-product.html">Single Product</a>
			                </li>
			                <li class="menu-item">
			                    <a href="cart.html">Cart</a>
			                </li>
			            </ul>
			        </li>
			        <li class="menu-item">
			            <a href="contact.html">Contact</a>
			        </li>
			    </ul>
			</nav>
			<div class="bottom">
				<ul class="socials clean-list">
        			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
        			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
        			<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
        			<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        			<li><a href="#"><i class="fa fa-behance-square"></i></a></li>
        			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
        		</ul>
        		<p class="copyright">Copyright © WhiteSpace. All Rights Reserved</p>
			</div>
		</header>

		<!-- Main Content -->
		<div class="content-wrapper">
			<section class="hero-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="rev_slider_wrapper">
                                <div class="fullscreen_slider rev_slider" data-arrows="false">
                                	<ul>		
										<li data-transition="fade">			
											<img src="img/slider-background-12.jpg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

											<div class="tp-caption WhiteSubTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-60"
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on">Discover Something New Every Day
											</div>

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="0" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on">creating emotional connections 
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="82" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;"
												data-start="1000" 
												data-responsive_offset="on" 
												><a class="btn yellow medium" href="#">More Info</a>
											</div>
										</li>
									</ul>				
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>

			<section class="corporate-section">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<img src="img/home-12-image.png" alt="corporate img">
						</div>
						<div class="col-md-7">
							<div class="section-header-v3">
								<h3>Great experiences <br/> build great brands.</h3>
								<p>Through brand strategy and design, we craft experiences that help brands stand out as well as stand for something. We specialize in design-led brand communication and digital innovation and we’ve earned a reputation for doing great work across multiple categories. Our work is driven by our mission and our mission is this we want to build brands people love.</p>
								<a class="btn yellow dark-hover medium" href="#">Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="corporate-section bg-alfa">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
							<div class="section-header-v3">
								<h3>Big Community of <br/> People Like You.</h3>
								<p>Brand focused. Strategy driven. Design-led. We are brand design agency that helps lifestyle inspired companies engage consumers and communicate brand culture. We use strategy and design to connect brands and people through the things they love products, services and experiences that support their lifestyle and matter in culture.</p>
								<a class="btn yellow dark-hover medium" href="#">Learn More</a>
							</div>
						</div>
						<div class="col-md-5">
							<img class="alignright" src="img/home-13-image.png" alt="corporate img">
						</div>
					</div>
				</div>
			</section>

			<section class="works-section v2">
				<div class="container">
					<div class="section-header">
						<h2>We Are Happy of these numbers</h2>
						<p>Design is how you treat your customers. If you treat them well from an environmental, emotional, and aesthetic standpoint, you’re probably doing good design.</p>
					</div>

					<div class="row stats-row">
						<div class="col-md-3 col-sm-6">
							<div class="stats-item black">
								<i class="icon icon-Rocket2"></i>
								<span class="number">126</span>
								<span class="caption">Years of Experience</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="stats-item black">
								<i class="icon icon-Trophycup"></i>
								<span class="number">311</span>
								<span class="caption">International Awards</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="stats-item black">
								<i class="icon icon-Target"></i>
								<span class="number">157</span>
								<span class="caption">Professional Agents</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="stats-item black">
								<i class="icon icon-Man"></i>
								<span class="number">849</span>
								<span class="caption">Regular Clients</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="rev_slider_wrapper">
								<div class="single_work_slider rev_slider">
									<ul>		
										<li data-transition="fade">			
											<img src="img/single-work-slider-1.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="left" data-hoffset="30" 
												data-y="bottom" data-voffset="40" 
												data-width="none"
												data-height="none"
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-splitin="none" 
												data-splitout="none" 
												data-responsive_offset="on" style="font-size: 18px;">Apple Watch App
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="left" data-hoffset="30" 
												data-y="bottom" data-voffset="25" 
												data-width="none"
												data-height="none"
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-splitin="none" 
												data-splitout="none" 
												data-responsive_offset="on" style="font-size: 12px; font-style: italic; color: #fff">Web Design
											</div>
										</li>

										<li data-transition="fade">			
											<img src="img/single-work-slider-2.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="left" data-hoffset="30" 
												data-y="bottom" data-voffset="40" 
												data-width="none"
												data-height="none"
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-splitin="none" 
												data-splitout="none" 
												data-responsive_offset="on" style="font-size: 18px;">New Apple App
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="left" data-hoffset="30" 
												data-y="bottom" data-voffset="25" 
												data-width="none"
												data-height="none"
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-splitin="none" 
												data-splitout="none" 
												data-responsive_offset="on" style="font-size: 12px; font-style: italic; color: #fff">Art Design
											</div>
										</li>
									</ul>				
								</div>
							</div>

							<a class="view-btn btn-1 aligncenter" href="javascript:void(0);">view project</a>
						</div>
					</div>
				</div>
			</section>

			<section class="promo-section v2">
				<div class="container">
					<div class="promo-content bg-alfa">
						<div class="row">
							<div class="col-md-10 col-sm-9">
								<h2 class="title">We Do Great Work. Every Day.</h2>
								<p>Being good in business is the most fascinating kind of art. Making money is art and working is art and good business is the best art.</p>
							</div>
							<div class="col-md-2 col-sm-2 inherit">
								<button class="btn yellow dark-hover medium">Get In Touch</button>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div id="map"></div>
		</div>

		<!-- Footer -->
		<footer>
			<div class="top-footer">
				<div class="container">
					<div class="row isotope">
						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_contact">
	                            <h4 class="widget-title">Contact Info</h4>
	                            <div class="widget-body">
	                            	<ul class="contact-info clean-list">
	                            		<li>
	                            			<span class="title">Address:</span>
		                            		<p>21 King Street, </p>
		                            		<p>Melbourne Victoria 3000 </p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Phone:</span>
		                            		<p>+1 (800) 456 37 96 - Office</p>
		                            		<p>+1 (800) 617 28 32 - Fax</p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Email:</span>
		                            		<p><a href="mailto:email@gt3themes.com">email@gt3themes.com</a></p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Follow Us:</span>
		                            		<ul class="socials clean-list">
		                            			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-behance-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
		                            		</ul>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_instagram">
	                            <h4 class="widget-title">Follow Instagram</h4>
	                            <div class="widget-body">
	                            	<ul class="instagram-feed clean-list" data-instagram="12" data-instagram-username="mrgicucaus"></ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_tag_cloud">
	                            <h4 class="widget-title">Popular Tags</h4>
	                            <div class="widget-body">
	                            	<div class="tagcloud">
	                            		<a href="#">art</a>
	                            		<a href="#">audio</a>
	                            		<a href="#">beauty</a>
	                            		<a href="#">concepts</a>
	                            		<a href="#">entertainment</a>
	                            		<a href="#">gallery</a>
	                            		<a href="#">ideas</a>
	                            		<a href="#">image</a>
	                            		<a href="#">lifestyle</a>
	                            		<a href="#">link</a>
	                            		<a href="#">nature</a>
	                            		<a href="#">people</a>
	                            		<a href="#">post</a>
	                            		<a href="#">quote</a>
	                            		<a href="#">video</a>
	                            	</div>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_recent_posts">
	                            <h4 class="widget-title">Recent Posts</h4>
	                            <div class="widget-body">
	                            	<ul class="recent-posts clean-list">
	                            		<li>
	                            			<img class="cover" src="img/recent-post-1.jpg" alt="recent post">
	                            			<h4><a href="#">Duis Aute Irure Dolor</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-2.jpg" alt="recent post">
	                            			<h4><a href="#">Temporibus Autem Quibus</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-3.jpg" alt="recent post">
	                            			<h4><a href="#">Saepe Eveniet Ut Et</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>
					</div>
				</div>
			</div>

			<div class="bottom-footer">
				<div class="container">
					<div class="alignleft align-left copyright">
						Copyright © 2020 WhiteSpace. All Rights Reserved.
					</div>

					<div class="alignright align-right copyright">
						Multi-Purpose WordPress Theme by <a href="http://gt3themes.com">GT3themes.com</a>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/options.js"></script>
</body>
</html>