<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>White Space</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS -->
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/navigation.css">	
</head>
<body>

	<!-- Page Wrapper -->
	<div id="page">
		
		<!-- Header -->
		<header class="header-v3">
			<div class="top-header">
                <div class="container-fluid">
                    <ul class="contacts">
                        <li><i class="fa fa-phone"></i>+1 (800) 456 37 96</li>
                        <li><a href="mailto:email@gt3themes.com"><i class="fa fa-envelope"></i>email@gt3themes.com</a></li>
                    </ul>
                
                	<ul class="actions">
	                    <li class="log-in-out">
	                        <a href="#"><i class="fa fa-sign-in"></i>Login</a>
	                    </li>
	                  	<li class="cart-btn">
	                        <a href="cart.html"><i class="fa fa-shopping-cart"></i>$<span class="cart-btn-price">80.00</span> (<span class="cart-btn-count">2</span> items)</a>
	                        <div class="cart-items">
	                        	<div class="cart">
									<ul>
										<li class="cart-item">
											<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
											<a class="cover" href="single-product.html">
												<img src="img/recent-post-1.jpg" alt="cart cover">
											</a>
											<p class="title">
												<a href="single-product.html">Duis Aute Irure Dolor</a>
											</p>
											<span class="price"><span class="item-price-number">3 x 2500</span>$</span>
										</li>

										<li class="cart-item">
											<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
											<a class="cover" href="single-product.html">
												<img src="img/recent-post-2.jpg" alt="cart cover">
											</a>
											<p class="title">
												<a href="single-product.html">Temporibus Autem Quibus</a>
											</p>
											<span class="price"><span class="item-price-number">3 x 1500</span>$</span>
										</li>
									</ul>

									<div class="sub-total">
										Subtotal: <span>$12, 000</span>
									</div>

									<a href="cart.html" class="btn view-cart yellow">view cart</a>
									<a href="#" class="btn checkout">checkout</a>
								</div>
							</div>
	                    </li>
	                    <li class="custom-select">
							<span class="default"><i class="fa fa-globe"></i><span class="content">Eng</span></span>
							<ul class="select-options dismiss">
								<li>Eng</li>
								<li>Rus</li>
								<li>Esp</li>
								<li>Fra</li>
							</ul>
	                    </li>
	                </ul>
                </div>
            </div>

            <div class="bottom-header">
            	<div class="container-fluid">
            		<span class="mobile-navigation-toggle hidden-md hidden-lg">
						<span class="menui top-menu"></span>
						<span class="menui mid-menu"></span>
						<span class="menui bottom-menu"></span>
					</span>

            		<div class="logo">
            			<a href="index.html">
            				<img class="white" src="img/logo-white.png" alt="logo">
            				<img class="transparent" src="img/logo-trans.png" alt="logo">
            			</a>
            		</div>
				   	
				   <div class="right-box">
						<nav class="main-nav">
						    <ul class="menu">
						        <li class="menu-item menu-item-has-children has-mega-menu current-menu-parent">
						            <a href="#">Home</a>
						            <ul class="row megamenu-wrap">
										<li class="menu-item col-sm-3">
											<a href="#">Corporate</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index.html">Traditional Corporate 1</a></li>
	                                            <li><a href="index-2.html">Traditional Corporate 2</a></li>
	                                            <li><a href="index-7.html">Corporate with Partial Header Image</a></li>
	                                            <li><a href="index-4.html">Corporate with Fullscreen Slider</a></li>
	                                        </ul>
	                                    </li>
	                     
	                               		<li class="menu-item col-sm-3">
											<a href="#">Creative</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-12.html">Side Menu Corporate</a></li>
	                                            <li><a href="index-3.html">Creative Agency with Header Hover</a></li>
	                                            <li><a href="index-9.html">Creative Studio with Transparent Header</a></li>
	                                        </ul>
	                                    </li>
	                              		
	                              		<li class="menu-item col-sm-3">
	                              			<a href="#">Portfolio</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-5.html">Onepage Scroll Portfolio</a></li>
	                                            <li class="current-menu-item"><a href="index-8.html">Application Presentation</a></li>
	                                            <li><a href="index-6.html">Shop with Full Thumb Products</a></li>
	                                        </ul>
	                                    </li>
	                           
	                               		<li class="menu-item col-sm-3">
	                              			<a href="#">One Page</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-11.html">Fullscreen Photography</a></li>
	                                            <li><a href="index-10.html">Photo Studio</a></li>
	                                        </ul>
	                                    </li>  
	                                </ul>
						        </li>
						        <li class="menu-item menu-item-has-children">
						            <a href="#">Pages</a>
						            <ul class="sub-menu">
						                <li class="menu-item">
						                    <a href="about.html">About</a>
						                </li>
						                <li class="menu-item">
						                    <a href="services.html">Services</a>
						                </li>
						                <li class="menu-item">
						                    <a href="showreel.html">Showreel</a>
						                </li>
						                <li class="menu-item">
						                    <a href="404-page.html">404</a>
						                </li>
						                 <li class="menu-item">
						                    <a href="coming-soon.html">Coming Soon</a>
						                </li>
						                 <li class="menu-item">
						                    <a href="gallery.html">Gallery</a>
						                </li>
						                <li class="menu-item">
						                    <a href="careers.html">Careers</a>
						                </li>
						                <li class="menu-item">
						                    <a href="faq.html">FAQ</a>
						                </li>
						                <li class="menu-item">
						                    <a href="typography.html">Typography</a>
						                </li>
						            </ul>  
						        </li>
								<li class="menu-item menu-item-has-children">
								    <a href="#">Portfolio</a>
								    <ul class="sub-menu">
								        <li class="menu-item menu-item-has-children">
								            <a href="#">Grid</a>
								             <ul class="sub-menu">
								                <li class="menu-item">
								                    <a href="portfolio-1col.html">1 Column</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-2col.html">2 Columns</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-3col.html">3 Columns</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-4col.html">4 Columns</a>
								                </li>
								            </ul>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio-masonry.html">Masonry</a>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio-wall.html">Wall</a>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio.html">Without Borders</a>
								        </li>
								        <li class="menu-item">
								            <a href="single-portfolio.html">Single Portfolio</a>
								        </li>
								    </ul>
								</li>
								<li class="menu-item menu-item-has-children">
								    <a href="#">Journal</a>
								    <ul class="sub-menu">
								        <li class="menu-item">
								            <a href="blog-listing-nosidebar.html">Journal Listing</a>
								        </li>
								        <li class="menu-item">
								            <a href="blog-listing.html">With Right Sidebar</a>
								        </li>
								        <li class="menu-item">
								            <a href="blog.html">With Columns</a>
								        </li>
								        <li class="menu-item menu-item-has-children">
								            <a href="#">Single Post</a>
								            <ul class="sub-menu">
								                <li class="menu-item">
								                    <a href="single-post-full.html">Fullwidth Post</a>
								                </li>
								                <li class="menu-item">
								                    <a href="single-post.html">Post With Partial Image</a>
								                </li>
								                <li class="menu-item">
								                    <a href="single-post-big.html">Post With Big Image</a>
								                </li>
								            </ul>
								        </li>
								    </ul>
								</li>
						        <li class="menu-item menu-item-has-children">
						            <a href="#">Shop</a>
						            <ul class="sub-menu">
						                <li class="menu-item">
						                    <a href="shop.html">All Products</a>
						                </li>
						                <li class="menu-item">
						                    <a href="shop-sidebar.html">All Products With Sidebar</a>
						                </li>
						                <li class="menu-item">
						                    <a href="single-product.html">Single Product</a>
						                </li>
						                <li class="menu-item">
						                    <a href="cart.html">Cart</a>
						                </li>
						            </ul>
						        </li>
						        <li class="menu-item menu-item-has-children">
						            <a href="contact.html">Contact</a>
						        </li>
						    </ul>
						</nav>

						<div class="search-trigger">
					   		<i class="icon fa fa-search dismiss"></i>
					   		<div class="search-box dismiss">
					   			<form class="search-form dismiss" action="#">
					   				<div class="input-line dismiss">
						   				<input type="text" class="search-input dismiss" placeholder="Search">
						   				<button class="search-submit dismiss"><i class="fa fa-search"></i></button>
						   			</div>
					   			</form>
					   		</div>
					   	</div>
					</div>
            	</div>
            </div>
		</header>

		<!-- Main Content -->
		<div class="content-wrapper">
			<section class="hero-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="rev_slider_wrapper full">
                                <div class="fullscreen_slider rev_slider" data-arrows="false">
                                	<ul>		
										<li data-transition="fade">			
											<img src="img/slider-background-8.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

											<div class="tp-caption WhiteSubTtl tp-resizeme" 
												data-x="left" data-hoffset="10" 
												data-y="middle" data-voffset="-140" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="y:-200px;opacity:0;s:1000;e:Power4.easeOut;"
												data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
												data-start="1200"
												data-responsive_offset="on">The Very New Thing
											</div>

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="left" data-hoffset="10" 
												data-y="middle" data-voffset="-20" 
												data-whitespace="pre"
												data-transform_idle="o:1;"
	                                            data-transform_in="y:-200px;opacity:0;s:800;e:Power4.easeOut;"
	                                            data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
	                                            data-start="1200"
												data-responsive_offset="on" style="line-height: 60px">great layout always
in your pocket
											</div>

											<div class="tp-caption WhiteTtlp tp-resizeme" 
												data-x="left" data-hoffset="10" 
												data-y="middle" data-voffset="65" 
												data-whitespace="pre"
												data-transform_idle="o:1;"
                                                data-transform_in="y:200px;opacity:0;s:800;e:Power4.easeOut;"
                                                data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
                                                data-start="1200"
												data-responsive_offset="on"
												style="text-transform: none; font-style: italic; font-size: 14px;"
												>I like nonsense, it wakes up the brain cells. Fantasy is a necessary ingredient in living, It’s a
way of looking at life through the wrong end of a telescope. Which is what I do, and that
enables you to laugh at life’s realities. The enemy of art is the absence of limitations.
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="left" data-hoffset="10" 
												data-y="middle" data-voffset="145" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
                                                data-transform_in="y:250px;opacity:0;s:1000;e:Power4.easeOut;"
                                                data-transform_out="y:0;opacity:0;s:300;e:Power4.easeIn;"
                                                data-start="1500"
												data-responsive_offset="on" 
												><a class="btn yellow medium" href="#">Learn More</a>
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="right" data-hoffset="-230" 
												data-y="middle" data-voffset="20" 
												data-transform_idle="o:1;"
	                                            data-transform_in="x:250px;opacity:0;s:1200;e:Power4.easeOut;"
	                                            data-transform_out="x:0;opacity:0;s:300;e:Power4.easeIn;"
	                                            data-start="1000"
												data-responsive_offset="on" 
												><img src="img/twoiphone6s.png" alt="iphone 6s">
											</div>
										</li>
									</ul>

									<i class="scroll icon-scroll"></i>				
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>

			<section class="simple-section">
				<div class="container">
					<div class="section-header">
						<h2>Your connection to creativity</h2>
						<p>A very clean, responsive & super flexible multipurpose theme that makes it easy to create a website of any category. Don’t limit your creativity with WhiteSpace Theme.</p>
					</div>
				</div>

				<div class="slick-carousel app" data-dots="true" data-infinite="true" data-items-desktop="3" data-items-tablet="1" data-items-phone="1" data-items-to-slide="1" data-center-mode="true">
					<div class="container">
						<ul class="clean-list carousel-items">
							<li class="carousel-item">
								<div class="cover">
									<img src="img/iphone6s-single.png">
								</div>
							</li>
							<li class="carousel-item">
								<div class="cover">
									<img src="img/iphone6s-single.png">
								</div>
							</li>
							<li class="carousel-item">
								<div class="cover">
									<img src="img/iphone6s-single.png">
								</div>
							</li>
							<li class="carousel-item">
								<div class="cover">
									<img src="img/iphone6s-single.png">
								</div>
							</li>
							<li class="carousel-item">
								<div class="cover">
									<img src="img/iphone6s-single.png">
								</div>
							</li>
						</ul>
					</div>
				</div>	
			</section>

			<section class="features-section creative-v5 bg-alfa">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="section-header-v2 black">
								<h3>Intuitive & smart</h3>
								<p>Designers deal in ideas. They give shape to ideas that shape our world, enrich everyday experiences, and improve our lives. Where there’s confusion, designers fashion clarity where there’s chaos, designers construct order where there’s entropy, designers promote vitality where there’s indifference, designers swell passion where there’s mediocrity, designers imbue excellence and where there’s silence, designers lend voice.</p>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="feature-t-icon">
										<h5><i class="icon icon-Pen"></i>Create</h5>
										<p>Stare. It is the way to educate your eye, and more. Stare, pry, listen, eavesdrop. Die knowing something. </p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="feature-t-icon">
										<h5><i class="icon icon-cog"></i>Edit</h5>
										<p>A computer without Photoshop is like a dog with no legs. Sure is fun, but you can’t really do anything with it.</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="feature-t-icon">
										<h5><i class="icon icon-Rocket3"></i>Upload</h5>
										<p>A designer is an emerging synthesis of artist, inventor, mechanic, objective economist and evolutio­nary strategist.</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="feature-t-icon">
										<h5><i class="icon icon-Eye2"></i>view</h5>
										<p>Stare. It is the way to educate your eye, and more. Stare, pry, listen, eavesdrop. Die knowing something. </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="cover">
								<img src="img/iphone6half.png" alt="iphone 6">
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="history-section bg-1">
				<div class="container">
					<div class="row">
						<div class="col-md-7 col-md-offset-5">
							<div class="section-header-v2">
								<h3>The more we work and the more love we invest in our projects, the better is the result.</h3>
								<a class="btn yellow medium" href="#">Watch the reel</a>
							</div>
						</div>
					</div>	
				</div>
			</section>

			<section class="features-section list">
				<div class="container">
					<div class="section-header">
						<h2>meet your best app</h2>
						<p>Design is how you treat your customers. If you treat them well from an environmental, emotional, and aesthetic standpoint, you’re probably doing good design.</p>
					</div>

					<div class="row">
						<div class="col-md-4">
							<ul class="features-list left trans clean-list pbt105">
								<li>
									<div class="feature-l">
										<i class="icon icon-Rocket"></i>
										<h5>INNOVATIVE IDEAS</h5>
										<p>At this point in experience design’s evolution, satisfaction ought to be the norm, and delight out to be the goal.</p>
									</div>
								</li>
								<li>
									<div class="feature-l">
										<i class="icon icon-Eye"></i>
										<h5>Retina Ready Design</h5>
										<p>Be who you are and say what you feel because those who mind don’t matter and those who matter don’t mind.</p>
									</div>
								</li>
								<li>
									<div class="feature-l">
										<i class="icon icon-Globe"></i>
										<h5>Translation Ready</h5>
										<p>A healthy creative process should be able to give a coherent rationale to a client as to why you designed what you designed.</p>
									</div>
								</li>
								<li>
									<div class="feature-l">
										<i class="icon icon-Equaliser"></i>
										<h5>Quality Support</h5>
										<p>You came here because we do this better than you, and part of that is letting our creatives be unproductive until they are.</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-md-4">
							<img class="aligncenter" src="img/iphone6s-clean.png" alt="iphone 5">
						</div>
						<div class="col-md-4">
							<ul class="features-list trans clean-list pbt105">
								<li>
									<div class="feature-l">
										<i class="icon icon-Photoday"></i>
										<h5>Stylish Design</h5>
										<p>Experts are rarely insulted by something that is clear enough for beginners. Everybody appreciates clarity.</p>
									</div>
								</li>
								<li>
									<div class="feature-l">
										<i class="icon icon-Tea"></i>
										<h5>Exclusive Features</h5>
										<p>The conclusion of design flows naturally from the data; we should not shrink from it; we should embrace it and build on it.</p>
									</div>
								</li>
								<li>
									<div class="feature-l">
										<i class="icon icon-Browser"></i>
										<h5>Totally Responsive</h5>
										<p>A healthy creative process should be able to give a coherent rationale to a client as to why you designed what you designed.</p>
									</div>
								</li>
								<li>
									<div class="feature-l">
										<i class="icon icon-Plane"></i>
										<h5>Smooth Parallax</h5>
										<p>Never fall in love with an idea. They’re whores. If the one you’re with isn’t doing the job, there’s always, always another.</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section class="testimonials-section bg-alfa">
				<div class="slick-carousel testimonials" data-speed="1000" data-dots="true" data-infinite="true" data-items-desktop="1">
					<div class="container">
						<div class="section-header">
							<h2>Clients’ Testimonials</h2>
							<p>Design is how you treat your customers. If you treat them well from an environmental, emotional, and aesthetic standpoint, you’re probably doing good design.</p>
						</div>

						<ul class="clean-list carousel-items">
							<li class="carousel-item">
								<div class="testimonial v2">
									<div class="member-cover">
										<img src="img/testimonial-memberv2-1.jpg" alt="testimonial user">
									</div>

									<div class="message">
										<p>Losing 80% of your screen space forces you to focus. You need to make sure that what stays on the screen is the most important set of features for your customers and your business. There simply isn’t room for any interface debrisor content of questionable value. You need to know what matters most.</p>
									</div>

									<div class="user">
										<h5>Michael Stewart</h5>
										<p>Designer</p>
									</div>
								</div>
							</li>
							<li class="carousel-item">
								<div class="testimonial v2">
									<div class="member-cover">
										<img src="img/testimonial-memberv2-1.jpg" alt="testimonial user">
									</div>
									<div class="message">
										<p>Losing 80% of your screen space forces you to focus. You need to make sure that what stays on the screen is the most important set of features for your customers and your business. There simply isn’t room for any interface debrisor content of questionable value. You need to know what matters most.</p>
									</div>

									<div class="user">
										<h5>Michael Stewart</h5>
										<p>Designer</p>
									</div>
								</div>
							</li>
							<li class="carousel-item">
								<div class="testimonial v2">
									<div class="member-cover">
										<img src="img/testimonial-memberv2-1.jpg" alt="testimonial user">
									</div>
									<div class="message">
										<p>Losing 80% of your screen space forces you to focus. You need to make sure that what stays on the screen is the most important set of features for your customers and your business. There simply isn’t room for any interface debrisor content of questionable value. You need to know what matters most.</p>
									</div>

									<div class="user">
										<h5>Michael Stewart</h5>
										<p>Designer</p>
									</div>
								</div>
							</li>
						</ul>
						
					</div>
			</section>

			<section class="pricing-tables">
				<div class="container">
					<div class="section-header">
						<h2>Our Best Offers</h2>
						<p>Creativity is to discover a question that has never been asked. If one brings up an idiosyncratic question, the answer he gives will necessarily be unique as well.</p>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="pricing-table">
								<div class="heading">
									<h6 class="title">Basic</h6>
									<p class="price">$49<sup>.99</sup></p>
									<p class="plan">30 days free trial</p>
								</div>

								<ul class="pricing-features clean-list">
									<li>Total Users</li>
									<li>Unlimited Styles</li>
									<li>Advance Protection</li>
									<li>Cloud Storage</li>
									<li class="lineth">24/7 Customer Service</li>
									<li class="lineth">Backup Service</li>
								</ul>

								<div class="action">
									<a class="btn outline dark" href="#">view more</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="pricing-table yellow">
								<div class="heading">
									<h6 class="title">Standard</h6>
									<p class="price">$59<sup>.99</sup></p>
									<p class="plan">30 days free trial</p>
								</div>

								<ul class="pricing-features clean-list">
									<li>Total Users</li>
									<li>Unlimited Styles</li>
									<li>Advance Protection</li>
									<li>Cloud Storage</li>
									<li>24/7 Customer Service</li>
									<li class="lineth">Backup Service</li>
								</ul>

								<div class="action">
									<a class="btn yellow" href="#">view more</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="pricing-table">
								<div class="heading">
									<h6 class="title">Unlimited</h6>
									<p class="price">$69<sup>.99</sup></p>
									<p class="plan">30 days free trial</p>
								</div>

								<ul class="pricing-features clean-list">
									<li>Total Users</li>
									<li>Unlimited Styles</li>
									<li>Advance Protection</li>
									<li>Cloud Storage</li>
									<li>24/7 Customer Service</li>
									<li>Backup Service</li>
								</ul>

								<div class="action">
									<a class="btn outline dark" href="#">view more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="subscribe-section bg-2">
				<div class="container">
					<div class="subscribe-area bg-white">
						<div class="section-header">
							<h2>Sign Up for our newsletter</h2>
							<p>The attention to detail in every single frame, along with the human touch, results in very personal and distinct glasses. Glasses help you see and help others see who you are.</p>
						</div>

						<div class="form-container">
							<form class="subscribe-form">
								<div class="input-line">
					   				<input type="text" class="form-input" placeholder="Search">
					   			</div>
					   			<input type="submit" class="form-submit" value="Subscribe">
							</form>

							<div class="contact-list">
								<div class="row">
									<div class="col-md-6">
										<div class="item">
											<span class="title">Address:</span>
											<p>121 King Street,</p>
											<p>Melbourne Victoria 3000</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="item">
											<span class="title">Email:</span>
											<p> email@gt3themes.com</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="item">
											<span class="title">Phone:</span>
											<p>+1 (800) 456 37 96 - Office</p>
											<p>+1 (800) 617 28 32 - Fax</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="item">
											<span class="title">Follow Me:</span>
											<ul class="socials clean-list">
		                            			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-behance-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
		                            		</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- Footer -->
		<footer class="footer-v2">
			<div class="top-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="logo aligncenter">
		            			<a href="index.html">
		            				<img class="white" src="img/logo-white.png" alt="logo">
		            			</a>
		            		</div>

							<ul class="footer-navigation clean-list align-center">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Faq</a></li>
								<li><a href="#">Journal</a></li>
								<li><a href="#">Shop</a></li>
								<li><a href="#">Contact</a></li>
							</ul>

							<div class="align-center copyright">
								<p>Copyright © 2020 WhiteSpace. All Rights Reserved.</p>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/options.js"></script>
</body>
</html>