{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="mainApp">
<head>

	<meta charset="utf-8" />
    <title>F2 Pictures / Vikram Vetrivel</title>
    <meta name="description" content="Sydney Wedding, Events and Corporate Videos and Photography. Contact us for a free consultation" />
    <meta name="author" content="Vikram Vetrivel" />
    <link rel="shortcut icon" href={% static "img/f2logo.svg" %} type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href={% static "css/font-awesome.min.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "css/screen.css" %} />
    <link rel="stylesheet" type="text/css" href={% static "rs-plugin/css/settings.css" %} >
    <link rel="stylesheet" type="text/css" href={% static "rs-plugin/css/layers.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "rs-plugin/css/navigation.css" %} >	

</head>

<body>

	<!-- Page Wrapper -->
	<div id="page">
		<div ng-view> </div>
	</div>

	<!-- Angular Script Includes -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>

	<!-- Angular Modules -->
	<script type="text/javascript" src={% static "Landing/js/ngMainApp.js" %}></script>

	<!-- Angluar Controllers -->
	<script type="text/javascript" src={% static "Landing/js/ngLeadGeneratorController.js" %}></script>
    <script type="text/javascript" src={% static "Landing/js/ngF2PicturesDetailsController.js" %}></script>

	<!-- Angular Directives -->
	<script type="text/javascript" src={% static "Landing/js/ngLocationMapDirective.js" %}></script>

    <!-- Angular Services -->
    <script type="text/javascript" src={% static "Landing/js/ngServices.js" %}></script> 
       
	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src={% static "js/jquery.js" %}></script>
	<script type="text/javascript" src={% static "js/modernizr.js" %}></script>
	<script type="text/javascript" src={% static "rs-plugin/js/jquery.themepunch.tools.min.js" %}></script>
	<script type="text/javascript" src={% static "rs-plugin/js/jquery.themepunch.revolution.min.js" %}></script>
	<script type="text/javascript" src={% static "js/imagesloaded.pkgd.min.js" %}></script>
	<script type="text/javascript" src={% static "js/jquery.magnific-popup.min.js" %}></script>
	<script type="text/javascript" src={% static "js/isotope.js" %}></script>
	<script type="text/javascript" src={% static "js/slick.js" %}></script>
	<script type="text/javascript" src={% static "js/options.js" %}></script>

</body>
</html>