<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>White Space</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS -->
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/navigation.css">	
</head>
<body>

	<!-- Page Wrapper -->
	<div id="page">
		
		<!-- Header -->
		<header class="header-v3">
			<div class="top-header">
                <div class="container-fluid">
                    <ul class="contacts">
                        <li><i class="fa fa-phone"></i>+1 (800) 456 37 96</li>
                        <li><a href="mailto:email@gt3themes.com"><i class="fa fa-envelope"></i>email@gt3themes.com</a></li>
                    </ul>
                
                	<ul class="actions">
	                    <li class="log-in-out">
	                        <a href="#"><i class="fa fa-sign-in"></i>Login</a>
	                    </li>
	                    <li class="cart-btn">
	                        <a href="cart.html"><i class="fa fa-shopping-cart"></i>$<span class="cart-btn-price">80.00</span> (<span class="cart-btn-count">2</span> items)</a>
	                        <div class="cart-items">
	                        	<div class="cart">
									<ul>
										<li class="cart-item">
											<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
											<a class="cover" href="single-product.html">
												<img src="img/recent-post-1.jpg" alt="cart cover">
											</a>
											<p class="title">
												<a href="single-product.html">Duis Aute Irure Dolor</a>
											</p>
											<span class="price"><span class="item-price-number">3 x 2500</span>$</span>
										</li>

										<li class="cart-item">
											<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
											<a class="cover" href="single-product.html">
												<img src="img/recent-post-2.jpg" alt="cart cover">
											</a>
											<p class="title">
												<a href="single-product.html">Temporibus Autem Quibus</a>
											</p>
											<span class="price"><span class="item-price-number">3 x 1500</span>$</span>
										</li>
									</ul>

									<div class="sub-total">
										Subtotal: <span>$12, 000</span>
									</div>

									<a href="cart.html" class="btn view-cart yellow">view cart</a>
									<a href="#" class="btn checkout">checkout</a>
								</div>
							</div>
	                    </li>
	                    <li class="custom-select">
							<span class="default"><i class="fa fa-globe"></i><span class="content">Eng</span></span>
							<ul class="select-options dismiss">
								<li>Eng</li>
								<li>Rus</li>
								<li>Esp</li>
								<li>Fra</li>
							</ul>
	                    </li>
	                </ul>
                </div>
            </div>

            <div class="bottom-header">
            	<div class="container-fluid">
            		<span class="mobile-navigation-toggle hidden-md hidden-lg">
						<span class="menui top-menu"></span>
						<span class="menui mid-menu"></span>
						<span class="menui bottom-menu"></span>
					</span>

            		<div class="logo">
            			<a href="index.html">
            				<img class="white" src="img/logo-white.png" alt="logo">
            				<img class="transparent" src="img/logo-trans.png" alt="logo">
            			</a>
            		</div>
				   	
				   <div class="right-box">
						<nav class="main-nav">
						    <ul class="menu">
						        <li class="menu-item menu-item-has-children has-mega-menu current-menu-parent">
						            <a href="#">Home</a>
						            <ul class="row megamenu-wrap">
										<li class="menu-item col-sm-3">
											<a href="#">Corporate</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index.html">Traditional Corporate 1</a></li>
	                                            <li><a href="index-2.html">Traditional Corporate 2</a></li>
	                                            <li><a href="index-7.html">Corporate with Partial Header Image</a></li>
	                                            <li><a href="index-4.html">Corporate with Fullscreen Slider</a></li>
	                                        </ul>
	                                    </li>
	                     
	                               		<li class="menu-item col-sm-3">
											<a href="#">Creative</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-12.html">Side Menu Corporate</a></li>
	                                            <li><a href="index-3.html">Creative Agency with Header Hover</a></li>
	                                            <li class="current-menu-item"><a href="index-9.html">Creative Studio with Transparent Header</a></li>
	                                        </ul>
	                                    </li>
	                              		
	                              		<li class="menu-item col-sm-3">
	                              			<a href="#">Portfolio</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-5.html">Onepage Scroll Portfolio</a></li>
	                                            <li><a href="index-8.html">Application Presentation</a></li>
	                                            <li><a href="index-6.html">Shop with Full Thumb Products</a></li>
	                                        </ul>
	                                    </li>
	                           
	                               		<li class="menu-item col-sm-3">
	                              			<a href="#">One Page</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-11.html">Fullscreen Photography</a></li>
	                                            <li><a href="index-10.html">Photo Studio</a></li>
	                                        </ul>
	                                    </li>  
	                                </ul>
						        </li>
						        <li class="menu-item menu-item-has-children">
						            <a href="#">Pages</a>
						            <ul class="sub-menu">
						                <li class="menu-item">
						                    <a href="about.html">About</a>
						                </li>
						                <li class="menu-item">
						                    <a href="services.html">Services</a>
						                </li>
						                <li class="menu-item">
						                    <a href="showreel.html">Showreel</a>
						                </li>
						                <li class="menu-item">
						                    <a href="404-page.html">404</a>
						                </li>
						                 <li class="menu-item">
						                    <a href="coming-soon.html">Coming Soon</a>
						                </li>
						                 <li class="menu-item">
						                    <a href="gallery.html">Gallery</a>
						                </li>
						                <li class="menu-item">
						                    <a href="careers.html">Careers</a>
						                </li>
						                <li class="menu-item">
						                    <a href="faq.html">FAQ</a>
						                </li>
						                <li class="menu-item">
						                    <a href="typography.html">Typography</a>
						                </li>
						            </ul>  
						        </li>
								<li class="menu-item menu-item-has-children">
								    <a href="#">Portfolio</a>
								    <ul class="sub-menu">
								        <li class="menu-item menu-item-has-children">
								            <a href="#">Grid</a>
								             <ul class="sub-menu">
								                <li class="menu-item">
								                    <a href="portfolio-1col.html">1 Column</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-2col.html">2 Columns</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-3col.html">3 Columns</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-4col.html">4 Columns</a>
								                </li>
								            </ul>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio-masonry.html">Masonry</a>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio-wall.html">Wall</a>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio.html">Without Borders</a>
								        </li>
								        <li class="menu-item">
								            <a href="single-portfolio.html">Single Portfolio</a>
								        </li>
								    </ul>
								</li>
								<li class="menu-item menu-item-has-children">
								    <a href="#">Journal</a>
								    <ul class="sub-menu">
								        <li class="menu-item">
								            <a href="blog-listing-nosidebar.html">Journal Listing</a>
								        </li>
								        <li class="menu-item">
								            <a href="blog-listing.html">With Right Sidebar</a>
								        </li>
								        <li class="menu-item">
								            <a href="blog.html">With Columns</a>
								        </li>
								        <li class="menu-item menu-item-has-children">
								            <a href="#">Single Post</a>
								            <ul class="sub-menu">
								                <li class="menu-item">
								                    <a href="single-post-full.html">Fullwidth Post</a>
								                </li>
								                <li class="menu-item">
								                    <a href="single-post.html">Post With Partial Image</a>
								                </li>
								                <li class="menu-item">
								                    <a href="single-post-big.html">Post With Big Image</a>
								                </li>
								            </ul>
								        </li>
								    </ul>
								</li>
						        <li class="menu-item menu-item-has-children">
						            <a href="#">Shop</a>
						            <ul class="sub-menu">
						                <li class="menu-item">
						                    <a href="shop.html">All Products</a>
						                </li>
						                <li class="menu-item">
						                    <a href="shop-sidebar.html">All Products With Sidebar</a>
						                </li>
						                <li class="menu-item">
						                    <a href="single-product.html">Single Product</a>
						                </li>
						                <li class="menu-item">
						                    <a href="cart.html">Cart</a>
						                </li>
						            </ul>
						        </li>
						        <li class="menu-item menu-item-has-children">
						            <a href="contact.html">Contact</a>
						        </li>
						    </ul>
						</nav>

						<div class="search-trigger">
					   		<i class="icon fa fa-search dismiss"></i>
					   		<div class="search-box dismiss">
					   			<form class="search-form dismiss" action="#">
					   				<div class="input-line dismiss">
						   				<input type="text" class="search-input dismiss" placeholder="Search">
						   				<button class="search-submit dismiss"><i class="fa fa-search"></i></button>
						   			</div>
					   			</form>
					   		</div>
					   	</div>
					</div>
            	</div>
            </div>
		</header>

		<!-- Main Content -->
		<div class="content-wrapper">
			<section class="hero-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="rev_slider_wrapper full">
                                <div class="fullscreen_slider rev_slider" data-arrows="true">
                                	<ul>		
										<li data-transition="fade">			
											<img src="img/stats-background-9.jpg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" data-no-retina>

											<div class="tp-caption WhiteSubTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-110" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on">Chreck out Latest Tendencies in Web Design
											</div>

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-50" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on">Discover good design examples
											</div>

											<div class="tp-caption WhiteTtlp tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="22" 
												data-whitespace="pre"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on"
												style="text-transform: none; font-style: italic; font-size: 14px;"
												>All projects are different, but you have treat each one with care. Sometimes you get to build a luxury yacht; other times,
				it’ll be a rowboat. You still have to make sure the thing doesn’t spring a leak.
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="92" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;"
												data-start="1000" 
												data-responsive_offset="on" 
												><a class="btn yellow medium" href="#">Discover Now</a>
											</div>
										</li>

										<li data-transition="fade">			
											<img src="img/slider-background-6.jpg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>

											<div class="tp-caption WhiteSubTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-110" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-splitin="none" 
												data-splitout="none" 
												data-responsive_offset="on">Chreck out Latest Tendencies in Web Design
											</div>

											<div class="tp-caption WhiteTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-50" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on">Discover good design examples
											</div>

											<div class="tp-caption WhiteTtlp tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="22" 
												data-whitespace="pre"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-splitin="none" 
												data-splitout="none" 
												data-responsive_offset="on"
												style="text-transform: none; font-style: italic; font-size: 14px;"
												>All projects are different, but you have treat each one with care. Sometimes you get to build a luxury yacht; other times,
				it’ll be a rowboat. You still have to make sure the thing doesn’t spring a leak.
											</div>

											<div class="tp-caption tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="92" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;"
												data-start="1000" 
												data-responsive_offset="on" 
												><a class="btn yellow medium" href="#">Discover Now</a>
											</div>
										</li>
									</ul>

									<i class="scroll icon-scroll"></i>					
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</section>

			<section class="features-section v3">
				<div class="container">
					<div class="section-header">
						<h2>the most adorable wordpress theme </h2>
						<p>A very clean, responsive & super flexible multipurpose theme that makes it easy to create a website of any category. Don’t limit your creativity with WhiteSpace Theme.</p>
						<a class="btn yellow light-hover" href="#">buy whitespace</a>
						<a class="btn outline dark" href="#">View more</a>
					</div>
				</div>

				<div class="container-fluid">
					<img class="aligncenter" src="img/big-apple-devices.png" alt="apple devices">
				</div>

				<div class="container">
					<div class="row features-row">
						<div class="col-md-3 col-sm-6">
							<div class="feature v2">
								<i class="icon icon-Pen"></i>
								<h4>Feel Our Design</h4>
								<p>Design is to invent with intent. If you take away the ‘invent’ bit, you have an engineer. If you take away the ‘intent’ bit.</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="feature v2">
								<i class="icon icon-cog"></i>
								<h4>Feel Our Design</h4>
								<p>Design is to invent with intent. If you take away the ‘invent’ bit, you have an engineer. If you take away the ‘intent’ bit.</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="feature v2">
								<i class="icon icon-Rocket3"></i>
								<h4>Feel Our Design</h4>
								<p>Design is to invent with intent. If you take away the ‘invent’ bit, you have an engineer. If you take away the ‘intent’ bit.</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="feature v2">
								<i class="icon icon-Eye22"></i>
								<h4>Feel Our Design</h4>
								<p>Design is to invent with intent. If you take away the ‘invent’ bit, you have an engineer. If you take away the ‘intent’ bit.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="features-post-section">
				<div class="container-fluid no-padding">
					<div class="row row-fit">
						<div class="col-md-12 col-lg-4">
							<div class="feature-post-box">
								<div class="cover">
									<img src="img/feature-post-1.jpg" alt="blog post">
									<div class="hover">
										<i class="icon icon-Browser"></i>
										<h4>Brand Creation, Trends Analytics and Style Consulting.</h4>
										<p class="description">Good ideas turn into good designs fairly quickly. If you catch yourself fiddling too much with colors, borders and treatments to bring a design together, chances are the problem lies somewhere deeper.</p>		
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-4">
							<div class="feature-post-box dark">
								<div class="cover">
									<img src="img/feature-post-2.jpg" alt="blog post">
									<div class="hover">
										<i class="icon icon-Target2"></i>
										<h4>Brand Creation, Trends Analytics and Style Consulting.</h4>
										<p class="description">Good ideas turn into good designs fairly quickly. If you catch yourself fiddling too much with colors, borders and treatments to bring a design together, chances are the problem lies somewhere deeper.</p>		
									</div>
								</div>
							</div>
						</div>	
						<div class="col-md-12 col-lg-4">
							<div class="feature-post-box">
								<div class="cover">
									<img src="img/feature-post-3.jpg" alt="blog post">
									<div class="hover">
										<i class="icon icon-Magnifyingglass"></i>
										<h4>Brand Creation, Trends Analytics and Style Consulting.</h4>
										<p class="description">Good ideas turn into good designs fairly quickly. If you catch yourself fiddling too much with colors, borders and treatments to bring a design together, chances are the problem lies somewhere deeper.</p>		
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="grid-projects-section">
				<div class="container">
					<div class="section-header">
						<h2>The Secret of Projects Success</h2>
						<p>A designer, like an archaeologist or geologist; researches, uncovers and adds context to precious, overlooked treasures by digging deep beneath the surface.</p>
					</div>
				</div>

				<div class="isot-filters">
					<ul class="clean-list">
						<li><a class="current" data-filter="*" href="#">all projects</a></li>
						<li><a data-filter=".graphic-design" href="#">graphic design</a></li>
						<li><a data-filter=".interior-design" href="#">interior design</a></li>
						<li><a data-filter=".product-design" href="#">product design</a></li>
						<li><a data-filter=".photography" href="#">photography</a></li>
					</ul>
				</div>

				<div class="isot-projects-wrapper" data-default-selection="*">
					<div class="container">
						<div class="isotope row">
							<div class="col-md-4 col-sm-6 col-xs-6 item-padding isotope-item graphic-design">
								<div class="project-box">
									<div class="cover">
										<a href="#">
											<img src="img/portfolio-project-6.jpg" alt="recent project">
										</a>
										<div class="hover">
											<h5><a href="#">Greeting Card Mock-Up</a></h5>
											<ul class="category clean-list">
												<li><a href="#">Photography</a></li>
												<li><a href="#">Graphic Design</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 item-padding isotope-item graphic-design">
								<div class="project-box">
									<div class="cover">
										<a href="#">
											<img src="img/portfolio-project-5.jpg" alt="recent project">
										</a>
										<div class="hover">
											<h5><a href="#">Notepad Presentation Mockup</a></h5>
											<ul class="category clean-list">
												<li><a href="#">Photography</a></li>
												<li><a href="#">Graphic Design</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 item-padding isotope-item photography">
								<div class="project-box">
									<div class="cover">
										<a href="#">
											<img src="img/portfolio-project-4.jpg" alt="recent project">
										</a>
										<div class="hover">
											<h5><a href="#">Halloween Vector Flat Elements</a></h5>
											<ul class="category clean-list">
												<li><a href="#">Photography</a></li>
												<li><a href="#">Graphic Design</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 item-padding isotope-item graphic-design">
								<div class="project-box">
									<div class="cover">
										<a href="#">
											<img src="img/portfolio-project-2.jpg" alt="recent project">
										</a>
										<div class="hover">
											<h5><a href="#">Greeting Card Mock-Up</a></h5>
											<ul class="category clean-list">
												<li><a href="#">Photography</a></li>
												<li><a href="#">Graphic Design</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 item-padding isotope-item product-design">
								<div class="project-box">
									<div class="cover">
										<a href="#">
											<img src="img/portfolio-project-1.jpg" alt="recent project">
										</a>
										<div class="hover">
											<h5><a href="#">Notepad Presentation Mockup</a></h5>
											<ul class="category clean-list">
												<li><a href="#">Photography</a></li>
												<li><a href="#">Graphic Design</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>	
							<div class="col-md-4 col-sm-6 col-xs-6 item-padding isotope-item interior-design">
								<div class="project-box">
									<div class="cover">
										<a href="#">
											<img src="img/portfolio-project-3.jpg" alt="recent project">
										</a>
										<div class="hover">
											<h5><a href="#">Piece of Cake Text Effect</a></h5>
											<ul class="category clean-list">
												<li><a href="#">Photography</a></li>
												<li><a href="#">Graphic Design</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<button class="view-more sm-margin btn yellow dark-hover aligncenter">view more</button>
					</div>
				</div>
			</section>

			<section class="testimonials-section bg-alfa">
				<div class="slick-carousel testimonials" data-speed="1000" data-dots="true" data-infinite="true" data-items-desktop="1">
					<div class="container">
						<div class="section-header">
							<h2>Clients’ Testimonials</h2>
							<p>Design is how you treat your customers. If you treat them well from an environmental, emotional, and aesthetic standpoint, you’re probably doing good design.</p>
						</div>

						<ul class="clean-list carousel-items">
							<li class="carousel-item">
								<div class="testimonial v2">
									<div class="member-cover">
										<img src="img/testimonial-memberv2-1.jpg" alt="testimonial user">
									</div>

									<div class="message">
										<p>Losing 80% of your screen space forces you to focus. You need to make sure that what stays on the screen is the most important set of features for your customers and your business. There simply isn’t room for any interface debrisor content of questionable value. You need to know what matters most.</p>
									</div>

									<div class="user">
										<h5>Michael Stewart</h5>
										<p>Designer</p>
									</div>
								</div>
							</li>
							<li class="carousel-item">
								<div class="testimonial v2">
									<div class="member-cover">
										<img src="img/testimonial-memberv2-1.jpg" alt="testimonial user">
									</div>
									<div class="message">
										<p>Losing 80% of your screen space forces you to focus. You need to make sure that what stays on the screen is the most important set of features for your customers and your business. There simply isn’t room for any interface debrisor content of questionable value. You need to know what matters most.</p>
									</div>

									<div class="user">
										<h5>Michael Stewart</h5>
										<p>Designer</p>
									</div>
								</div>
							</li>
							<li class="carousel-item">
								<div class="testimonial v2">
									<div class="member-cover">
										<img src="img/testimonial-memberv2-1.jpg" alt="testimonial user">
									</div>
									<div class="message">
										<p>Losing 80% of your screen space forces you to focus. You need to make sure that what stays on the screen is the most important set of features for your customers and your business. There simply isn’t room for any interface debrisor content of questionable value. You need to know what matters most.</p>
									</div>

									<div class="user">
										<h5>Michael Stewart</h5>
										<p>Designer</p>
									</div>
								</div>
							</li>
						</ul>
						
					</div>
			</section>

			<section class="partners-section pdtop10">
				<div class="container">
					<div class="section-header">
						<h2>We Partner with Brands we believe in</h2>
						<p>When we engage in what we are naturally suited to do, our work takes on the quality of play and it is play that stimulates creativity.</p>
					</div>

					<div class="row">
						<div class="col-md-12">
							<ul class="partners-list clean-list">
								<li><a href="#"><img src="img/partner-logo-1.png" alt="partner logo"></a></li>
								<li><a href="#"><img src="img/partner-logo-2.png" alt="partner logo"></a></li>
								<li><a href="#"><img src="img/partner-logo-3.png" alt="partner logo"></a></li>
								<li><a href="#"><img src="img/partner-logo-4.png" alt="partner logo"></a></li>
								<li><a href="#"><img src="img/partner-logo-5.png" alt="partner logo"></a></li>
								<li><a href="#"><img src="img/partner-logo-6.png" alt="partner logo"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>

		</div>

		<!-- Footer -->
		<footer>
			<div class="top-footer">
				<div class="container">
					<div class="row isotope">
						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_contact">
	                            <h4 class="widget-title">Contact Info</h4>
	                            <div class="widget-body">
	                            	<ul class="contact-info clean-list">
	                            		<li>
	                            			<span class="title">Address:</span>
		                            		<p>21 King Street, </p>
		                            		<p>Melbourne Victoria 3000 </p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Phone:</span>
		                            		<p>+1 (800) 456 37 96 - Office</p>
		                            		<p>+1 (800) 617 28 32 - Fax</p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Email:</span>
		                            		<p><a href="mailto:email@gt3themes.com">email@gt3themes.com</a></p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Follow Us:</span>
		                            		<ul class="socials clean-list">
		                            			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-behance-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
		                            		</ul>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_instagram">
	                            <h4 class="widget-title">Follow Instagram</h4>
	                            <div class="widget-body">
	                            	<ul class="instagram-feed clean-list" data-instagram="12" data-instagram-username="mrgicucaus"></ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_tag_cloud">
	                            <h4 class="widget-title">Popular Tags</h4>
	                            <div class="widget-body">
	                            	<div class="tagcloud">
	                            		<a href="#">art</a>
	                            		<a href="#">audio</a>
	                            		<a href="#">beauty</a>
	                            		<a href="#">concepts</a>
	                            		<a href="#">entertainment</a>
	                            		<a href="#">gallery</a>
	                            		<a href="#">ideas</a>
	                            		<a href="#">image</a>
	                            		<a href="#">lifestyle</a>
	                            		<a href="#">link</a>
	                            		<a href="#">nature</a>
	                            		<a href="#">people</a>
	                            		<a href="#">post</a>
	                            		<a href="#">quote</a>
	                            		<a href="#">video</a>
	                            	</div>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_recent_posts">
	                            <h4 class="widget-title">Recent Posts</h4>
	                            <div class="widget-body">
	                            	<ul class="recent-posts clean-list">
	                            		<li>
	                            			<img class="cover" src="img/recent-post-1.jpg" alt="recent post">
	                            			<h4><a href="#">Duis Aute Irure Dolor</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-2.jpg" alt="recent post">
	                            			<h4><a href="#">Temporibus Autem Quibus</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-3.jpg" alt="recent post">
	                            			<h4><a href="#">Saepe Eveniet Ut Et</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>
					</div>
				</div>
			</div>

			<div class="bottom-footer">
				<div class="container">
					<div class="alignleft align-left copyright">
						Copyright © 2020 WhiteSpace. All Rights Reserved.
					</div>

					<div class="alignright align-right copyright">
						Multi-Purpose WordPress Theme by <a href="http://gt3themes.com">GT3themes.com</a>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/options.js"></script>
	<script>
		items_set = [                    
			{src : 'img/portfolio-project-4.jpg', url : 'single-portfolio.html', columnclass: 'col-md-4 col-sm-6 col-xs-6 item-padding', category: 'photography', title: 'Greeting Card Mock-Up', itemcategory: '<li>Photography</li>'},
			{src : 'img/portfolio-project-2.jpg', url : 'single-portfolio.html', columnclass: 'col-md-4 col-sm-6 col-xs-6 item-padding', category: 'graphic-design', title: 'Notepad Presentation Mockup', itemcategory: '<li>Graphic Design</li>'},
			{src : 'img/portfolio-project-3.jpg', url : 'single-portfolio.html', columnclass: 'col-md-4 col-sm-6 col-xs-6 item-padding', category: 'photography', title: 'Piece of Cake Text Effect', itemcategory: '<li>Photography</li>'}
		];
		jQuery('.isot-projects-wrapper').portfolio_more({
			load_count : 3,
			items : items_set
		});
	</script>
</body>
</html>