<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>White Space</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS -->
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/navigation.css">	
</head>
<body>

	<!-- Page Wrapper -->
	<div id="page">
		
		<!-- Header -->
		<header class="header-v3">
			<div class="top-header">
                <div class="container-fluid">
                    <ul class="contacts">
                        <li><i class="fa fa-phone"></i>+1 (800) 456 37 96</li>
                        <li><a href="mailto:email@gt3themes.com"><i class="fa fa-envelope"></i>email@gt3themes.com</a></li>
                    </ul>
                
                	<ul class="actions">
	                    <li class="log-in-out">
	                        <a href="#"><i class="fa fa-sign-in"></i>Login</a>
	                    </li>
	                    <li class="cart-btn">
	                        <a href="cart.html"><i class="fa fa-shopping-cart"></i>$<span class="cart-btn-price">80.00</span> (<span class="cart-btn-count">2</span> items)</a>
	                        <div class="cart-items">
	                        	<div class="cart">
									<ul>
										<li class="cart-item">
											<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
											<a class="cover" href="single-product.html">
												<img src="img/recent-post-1.jpg" alt="cart cover">
											</a>
											<p class="title">
												<a href="single-product.html">Duis Aute Irure Dolor</a>
											</p>
											<span class="price"><span class="item-price-number">3 x 2500</span>$</span>
										</li>

										<li class="cart-item">
											<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
											<a class="cover" href="single-product.html">
												<img src="img/recent-post-2.jpg" alt="cart cover">
											</a>
											<p class="title">
												<a href="single-product.html">Temporibus Autem Quibus</a>
											</p>
											<span class="price"><span class="item-price-number">3 x 1500</span>$</span>
										</li>
									</ul>

									<div class="sub-total">
										Subtotal: <span>$12, 000</span>
									</div>

									<a href="cart.html" class="btn view-cart yellow">view cart</a>
									<a href="#" class="btn checkout">checkout</a>
								</div>
							</div>
	                    </li>
	                    <li class="custom-select">
							<span class="default"><i class="fa fa-globe"></i><span class="content">Eng</span></span>
							<ul class="select-options dismiss">
								<li>Eng</li>
								<li>Rus</li>
								<li>Esp</li>
								<li>Fra</li>
							</ul>
	                    </li>
	                </ul>
                </div>
            </div>

            <div class="bottom-header">
            	<div class="container-fluid">
            		<span class="mobile-navigation-toggle hidden-md hidden-lg">
						<span class="menui top-menu"></span>
						<span class="menui mid-menu"></span>
						<span class="menui bottom-menu"></span>
					</span>

            		<div class="logo">
            			<a href="index.html">
            				<img class="white" src="img/logo-white.png" alt="logo">
            				<img class="transparent" src="img/logo-trans.png" alt="logo">
            			</a>
            		</div>
				   	
				   <div class="right-box">
						<nav class="main-nav">
						    <ul class="menu">
						        <li class="menu-item menu-item-has-children has-mega-menu current-menu-parent">
						            <a href="#">Home</a>
						            <ul class="row megamenu-wrap">
										<li class="menu-item col-sm-3">
											<a href="#">Corporate</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index.html">Traditional Corporate 1</a></li>
	                                            <li><a href="index-2.html">Traditional Corporate 2</a></li>
	                                            <li class="current-menu-item"><a href="index-7.html">Corporate with Partial Header Image</a></li>
	                                            <li><a href="index-4.html">Corporate with Fullscreen Slider</a></li>
	                                        </ul>
	                                    </li>
	                     
	                               		<li class="menu-item col-sm-3">
											<a href="#">Creative</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-12.html">Side Menu Corporate</a></li>
	                                            <li><a href="index-3.html">Creative Agency with Header Hover</a></li>
	                                            <li><a href="index-9.html">Creative Studio with Transparent Header</a></li>
	                                        </ul>
	                                    </li>
	                              		
	                              		<li class="menu-item col-sm-3">
	                              			<a href="#">Portfolio</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-5.html">Onepage Scroll Portfolio</a></li>
	                                            <li><a href="index-8.html">Application Presentation</a></li>
	                                            <li><a href="index-6.html">Shop with Full Thumb Products</a></li>
	                                        </ul>
	                                    </li>
	                           
	                               		<li class="menu-item col-sm-3">
	                              			<a href="#">One Page</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-11.html">Fullscreen Photography</a></li>
	                                            <li><a href="index-10.html">Photo Studio</a></li>
	                                        </ul>
	                                    </li>  
	                                </ul>
						        </li>
						        <li class="menu-item menu-item-has-children">
						            <a href="#">Pages</a>
						            <ul class="sub-menu">
						                <li class="menu-item">
						                    <a href="about.html">About</a>
						                </li>
						                <li class="menu-item">
						                    <a href="services.html">Services</a>
						                </li>
						                <li class="menu-item">
						                    <a href="showreel.html">Showreel</a>
						                </li>
						                <li class="menu-item">
						                    <a href="404-page.html">404</a>
						                </li>
						                 <li class="menu-item">
						                    <a href="coming-soon.html">Coming Soon</a>
						                </li>
						                 <li class="menu-item">
						                    <a href="gallery.html">Gallery</a>
						                </li>
						                <li class="menu-item">
						                    <a href="careers.html">Careers</a>
						                </li>
						                <li class="menu-item">
						                    <a href="faq.html">FAQ</a>
						                </li>
						                <li class="menu-item">
						                    <a href="typography.html">Typography</a>
						                </li>
						            </ul>  
						        </li>
								<li class="menu-item menu-item-has-children">
								    <a href="#">Portfolio</a>
								    <ul class="sub-menu">
								        <li class="menu-item menu-item-has-children">
								            <a href="#">Grid</a>
								             <ul class="sub-menu">
								                <li class="menu-item">
								                    <a href="portfolio-1col.html">1 Column</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-2col.html">2 Columns</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-3col.html">3 Columns</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-4col.html">4 Columns</a>
								                </li>
								            </ul>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio-masonry.html">Masonry</a>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio-wall.html">Wall</a>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio.html">Without Borders</a>
								        </li>
								        <li class="menu-item">
								            <a href="single-portfolio.html">Single Portfolio</a>
								        </li>
								    </ul>
								</li>
								<li class="menu-item menu-item-has-children">
								    <a href="#">Journal</a>
								    <ul class="sub-menu">
								        <li class="menu-item">
								            <a href="blog-listing-nosidebar.html">Journal Listing</a>
								        </li>
								        <li class="menu-item">
								            <a href="blog-listing.html">With Right Sidebar</a>
								        </li>
								        <li class="menu-item">
								            <a href="blog.html">With Columns</a>
								        </li>
								        <li class="menu-item menu-item-has-children">
								            <a href="#">Single Post</a>
								            <ul class="sub-menu">
								                <li class="menu-item">
								                    <a href="single-post-full.html">Fullwidth Post</a>
								                </li>
								                <li class="menu-item">
								                    <a href="single-post.html">Post With Partial Image</a>
								                </li>
								                <li class="menu-item">
								                    <a href="single-post-big.html">Post With Big Image</a>
								                </li>
								            </ul>
								        </li>
								    </ul>
								</li>
						        <li class="menu-item menu-item-has-children">
						            <a href="#">Shop</a>
						            <ul class="sub-menu">
						                <li class="menu-item">
						                    <a href="shop.html">All Products</a>
						                </li>
						                <li class="menu-item">
						                    <a href="shop-sidebar.html">All Products With Sidebar</a>
						                </li>
						                <li class="menu-item">
						                    <a href="single-product.html">Single Product</a>
						                </li>
						                <li class="menu-item">
						                    <a href="cart.html">Cart</a>
						                </li>
						            </ul>
						        </li>
						        <li class="menu-item menu-item-has-children">
						            <a href="contact.html">Contact</a>
						        </li>
						    </ul>
						</nav>

						<div class="search-trigger">
					   		<i class="icon fa fa-search dismiss"></i>
					   		<div class="search-box dismiss">
					   			<form class="search-form dismiss" action="#">
					   				<div class="input-line dismiss">
						   				<input type="text" class="search-input dismiss" placeholder="Search">
						   				<button class="search-submit dismiss"><i class="fa fa-search"></i></button>
						   			</div>
					   			</form>
					   		</div>
					   	</div>
					</div>
            	</div>
            </div>
		</header>

		<!-- Main Content -->
		<div class="content-wrapper">
			<section class="hero-section">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="rev_slider_wrapper">
								<div class="fullwidth_slider rev_slider" data-arrows="false" data-height="650">
									<ul>		
										<li data-transition="fade">			
											<img src="img/slider-background-7.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

											<div class="tp-caption WhiteSubTtl tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="-33" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on">Impress Your Clients, Surprise Your Team
											</div>

											<div class="tp-caption WhiteTtl px40 tp-resizeme" 
												data-x="center" data-hoffset="0" 
												data-y="middle" data-voffset="20" 
												data-whitespace="nowrap"
												data-transform_idle="o:1;"
												data-transform_in="opacity:0;s:1500;e:Power2.easeInOut;" 
												data-transform_out="auto:auto;s:1000;" 
												data-start="1000" 
												data-responsive_offset="on">Connection to Creativity just in few clicks
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>				
					</div>
				</div>
			</section>

			<section class="features-section v4">
				<div class="container">
					<div class="section-header">
						<h2>Hello! Welcome to Whitespace</h2>
						<p>A very clean, responsive & super flexible multipurpose theme that makes it easy to create a website of any category. Don’t limit your creativity with WhiteSpace Theme.</p>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="feature-md">
								<img src="img/feature-img-1.jpg" alt="feature img">
								<h5>Truly Responsive</h5>
								<p>It isn’t a question of enhancement through design. Whether an editor realizes it or not, design is part of what he does every time he prints the paper.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-md">
								<img src="img/feature-img-2.jpg" alt="feature img">
								<h5>Composer Based</h5>
								<p>Design is how you treat your customers. If you treat them well from an environmental, emotional, and aesthetic standpoint, you’re doing good design.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="feature-md">
								<img src="img/feature-img-3.jpg" alt="feature img">
								<h5>Numerous Variations</h5>
								<p>Creativity often consists of merely turning up what is already there. Did you know that right and left shoes were thought up only a little more than a century ago?</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="features-section creative-v6 bg-alfa">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="section-header-v2 black">
								<h3>Intuitive & smart</h3>
								<p>Designers deal in ideas. They give shape to ideas that shape our world, enrich everyday experiences, and improve our lives. Where there’s confusion, designers fashion clarity where there’s chaos, designers construct order where there’s entropy, designers promote vitality where there’s indifference, designers swell passion where there’s mediocrity, designers imbue excellence and where there’s silence, designers lend voice.</p>
							</div>

							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="feature-t-icon">
										<h5><i class="icon icon-Pen"></i>Create</h5>
										<p>Stare. It is the way to educate your eye, and more. Stare, pry, listen, eavesdrop. Die knowing something. </p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="feature-t-icon">
										<h5><i class="icon icon-cog"></i>Edit</h5>
										<p>A computer without Photoshop is like a dog with no legs. Sure is fun, but you can’t really do anything with it.</p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="feature-t-icon">
										<h5><i class="icon icon-Rocket3"></i>Upload</h5>
										<p>If design becomes your life, you can be sure a lot of people will be making their living thanks to your designs.</p>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="feature-t-icon">
										<h5><i class="icon icon-Eye2"></i>show</h5>
										<p>A designer is an emerging synthesis of artist, inventor, mechanic, objective economist and evolutio­nary strategist.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="macbook-over">
								<img src="img/macbook-4.png" alt="macbook">
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="features-section v5">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<img src="img/iphone6s.png" alt="iphone 6">
						</div>

						<div class="col-md-6">
							<ul class="features-list clean-list">
								<li>
									<div class="feature-l">
										<i class="icon big icon-trophycup2"></i>
										<h5>Get Inspired</h5>
										<p>We have to learn to see technical devices and software as others see them. Feeling a sense of pride in getting a device to do what we want doesn’t mean we’re clever, it means the design was wrong.</p>
									</div>
								</li>
								<li>
									<div class="feature-l">
										<i class="icon big icon-Rocket"></i>
										<h5>Keep Rocking</h5>
										<p>Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while.</p>
									</div>
								</li>
								<li>
									<div class="feature-l">
										<i class="icon big icon-Globe2"></i>
										<h5>Love The World</h5>
										<p>All projects are different, but you have treat each one with care. Sometimes you get to build a luxury yacht; other times, it’ll be a rowboat. You still have to make sure the thing doesn’t spring a leak.</p>
									</div>
								</li>
								<li>
									<div class="feature-l">
										<i class="icon sm icon-Heart"></i>
										<h5>be passionate</h5>
										<p>After finishing a design you take a step back and a little voice pops in your head and says, "Wow. You should really just quit while you’re ahead." Don't ever listen to that voice. Ever.</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section class="simple-section bg-alfa">
				<div class="container">
					<div class="section-header">
						<h2>More Advantages</h2>
						<p>Design is how you treat your customers. If you treat them well from an environmental, emotional, and aesthetic standpoint, you’re probably doing good design.</p>
					</div>

					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="feature">
								<i class="icon icon-Briefcase"></i>
								<h4>Feel Our Design</h4>
								<p class="sub-title">Bold enough to break the rules.</p>
								<p>Design is to invent with intent. If you take away the ‘invent’ bit, you have an engineer. If you take away the ‘intent’ bit.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature">
								<i class="icon icon-Wallet"></i>
								<h4>Save Your Money</h4>
								<p class="sub-title">Reasonable to combine the best.</p>
								<p>You can design and create, and build the most wonderful place in the world. But it takes people to make the dream a reality</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature">
								<i class="icon icon-Lifebuoy"></i>
								<h4>Professional Support</h4>
								<p class="sub-title">Great design is transparent.</p>
								<p>We are not artists or poets. We are artisans and craftsmen. Our products solve problems. They do not hang on museum walls.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature">
								<i class="icon icon-Equaliser"></i>
								<h4>Easy Customization</h4>
								<p class="sub-title">Never late to improve.</p>
								<p>A well-designed text will seem weightless after a time; the initial feel of the book fades away as the mind becomes engrossed in the words.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature">
								<i class="icon icon-Star"></i>
								<h4>Exclusive Features</h4>
								<p class="sub-title">Be the one of your kind.</p>
								<p>The difference between regulated architects and unregulated designers is, unlike buildings, letterheads don’t fall down and kill people.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="feature">
								<i class="icon icon-Rocket"></i>
								<h4>Innovative Ideas</h4>
								<p class="sub-title">None will be able to resist.</p>
								<p>You do not need to have a great idea before you can begin working; you need to begin working before you can have a great idea.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="history-section bg">
				<div class="container">
					<div class="row">
						<div class="col-md-7 col-md-offset-5">
							<div class="section-header-v2">
								<h3>The more we work and the more love we invest in our projects, the better is the result.</h3>
								<a class="btn yellow medium" href="#">Watch the reel</a>
							</div>
						</div>
					</div>	
				</div>
			</section>

			<section class="pricing-tables sm-padding">
				<div class="container">
					<div class="section-header">
						<h2>Our Best Offers</h2>
						<p>Creativity is to discover a question that has never been asked. If one brings up an idiosyncratic question, the answer he gives will necessarily be unique as well.</p>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="pricing-table">
								<div class="heading">
									<h6 class="title">Basic</h6>
									<p class="price">$49<sup>.99</sup></p>
									<p class="plan">30 days free trial</p>
								</div>

								<ul class="pricing-features clean-list">
									<li>Total Users</li>
									<li>Unlimited Styles</li>
									<li>Advance Protection</li>
									<li>Cloud Storage</li>
									<li class="lineth">24/7 Customer Service</li>
									<li class="lineth">Backup Service</li>
								</ul>

								<div class="action">
									<a class="btn outline dark" href="#">view more</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="pricing-table yellow">
								<div class="heading">
									<h6 class="title">Standard</h6>
									<p class="price">$59<sup>.99</sup></p>
									<p class="plan">30 days free trial</p>
								</div>

								<ul class="pricing-features clean-list">
									<li>Total Users</li>
									<li>Unlimited Styles</li>
									<li>Advance Protection</li>
									<li>Cloud Storage</li>
									<li>24/7 Customer Service</li>
									<li class="lineth">Backup Service</li>
								</ul>

								<div class="action">
									<a class="btn yellow" href="#">view more</a>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="pricing-table">
								<div class="heading">
									<h6 class="title">Unlimited</h6>
									<p class="price">$69<sup>.99</sup></p>
									<p class="plan">30 days free trial</p>
								</div>

								<ul class="pricing-features clean-list">
									<li>Total Users</li>
									<li>Unlimited Styles</li>
									<li>Advance Protection</li>
									<li>Cloud Storage</li>
									<li>24/7 Customer Service</li>
									<li>Backup Service</li>
								</ul>

								<div class="action">
									<a class="btn outline dark" href="#">view more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="partners-section">
				<div class="container">
					<div class="section-header">
						<h2>We Partner with Brands we believe in</h2>
						<p>When we engage in what we are naturally suited to do, our work takes on the quality of play and it is play that stimulates creativity.</p>
					</div>

					<div class="row">
						<div class="col-md-12">
							<ul class="partners-list clean-list">
								<li><a href="#"><img src="img/partner-logo-1.png" alt="partner logo"></a></li>
								<li><a href="#"><img src="img/partner-logo-2.png" alt="partner logo"></a></li>
								<li><a href="#"><img src="img/partner-logo-3.png" alt="partner logo"></a></li>
								<li><a href="#"><img src="img/partner-logo-4.png" alt="partner logo"></a></li>
								<li><a href="#"><img src="img/partner-logo-5.png" alt="partner logo"></a></li>
								<li><a href="#"><img src="img/partner-logo-6.png" alt="partner logo"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- Footer -->
		<footer>
			<div class="top-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="widget widget_contact">
	                            <h4 class="widget-title">Contact Info</h4>
	                            <div class="widget-body">
	                            	<ul class="contact-info clean-list">
	                            		<li>
	                            			<span class="title">Address:</span>
		                            		<p>21 King Street, </p>
		                            		<p>Melbourne Victoria 3000 </p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Phone:</span>
		                            		<p>+1 (800) 456 37 96 - Office</p>
		                            		<p>+1 (800) 617 28 32 - Fax</p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Email:</span>
		                            		<p><a href="mailto:email@gt3themes.com">email@gt3themes.com</a></p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Follow Us:</span>
		                            		<ul class="socials clean-list">
		                            			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-behance-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
		                            		</ul>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3">
							<div class="widget widget_instagram">
	                            <h4 class="widget-title">Follow Instagram</h4>
	                            <div class="widget-body">
	                            	<ul class="instagram-feed clean-list" data-instagram="12" data-instagram-username="mrgicucaus"></ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3">
							<div class="widget widget_tag_cloud">
	                            <h4 class="widget-title">Popular Tags</h4>
	                            <div class="widget-body">
	                            	<div class="tagcloud">
	                            		<a href="#">art</a>
	                            		<a href="#">audio</a>
	                            		<a href="#">beauty</a>
	                            		<a href="#">concepts</a>
	                            		<a href="#">entertainment</a>
	                            		<a href="#">gallery</a>
	                            		<a href="#">ideas</a>
	                            		<a href="#">image</a>
	                            		<a href="#">lifestyle</a>
	                            		<a href="#">link</a>
	                            		<a href="#">nature</a>
	                            		<a href="#">people</a>
	                            		<a href="#">post</a>
	                            		<a href="#">quote</a>
	                            		<a href="#">video</a>
	                            	</div>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3">
							<div class="widget widget_recent_posts">
	                            <h4 class="widget-title">Recent Posts</h4>
	                            <div class="widget-body">
	                            	<ul class="recent-posts clean-list">
	                            		<li>
	                            			<img class="cover" src="img/recent-post-1.jpg" alt="recent post">
	                            			<h4><a href="#">Duis Aute Irure Dolor</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-2.jpg" alt="recent post">
	                            			<h4><a href="#">Temporibus Autem Quibus</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-3.jpg" alt="recent post">
	                            			<h4><a href="#">Saepe Eveniet Ut Et</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>
					</div>
				</div>
			</div>

			<div class="bottom-footer">
				<div class="container">
					<div class="alignleft align-left copyright">
						Copyright © 2020 WhiteSpace. All Rights Reserved.
					</div>

					<div class="alignright align-right copyright">
						Multi-Purpose WordPress Theme by <a href="http://gt3themes.com">GT3themes.com</a>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/options.js"></script>
</body>
</html>