* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { font-family: sans-serif; }

.packery {
  background: #FDD;
  background: hsla(45, 100%, 40%, 0.2);
}

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

.item {
  width: 80px;
  height: 80px;
  float: left;
  background: #C09;
  border: 4px solid #333;
  border-color: hsla(0, 0%, 0%, 0.3);
}

.item.w2 { width:  160px; background: #9C0; }
.item.h2 { height: 160px; background: #0C9; }
.item.h4 { height: 320px; background: #C90; }
.item.w4 { width:  320px; background: #90C; }

.stamp {
  position: absolute;
  width: 30%;
  height: 120px;
  background: red;
  border: 4px dotted white;
}

.stamp1 {
  left: 20%;
  top: 10px;
}

.stamp2 {
  right: 10%;
  top: 80px;
}
