<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>White Space</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS -->
    
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/navigation.css">	
</head>
<body>

	<!-- Page Wrapper -->
	<div id="page">
		
		<!-- Header -->
		<header>
			<div class="top-header">
                <div class="container">
                    <ul class="contacts">
                        <li><i class="fa fa-phone"></i>+1 (800) 456 37 96</li>
                        <li><a href="mailto:email@gt3themes.com"><i class="fa fa-envelope"></i>email@gt3themes.com</a></li>
                    </ul>
                
                	<ul class="actions">
	                    <li class="log-in-out">
	                        <a href="#"><i class="fa fa-sign-in"></i>Login</a>
	                    </li>
	                    <li class="cart-btn">
	                        <a href="cart.html"><i class="fa fa-shopping-cart"></i>$<span class="cart-btn-price">80.00</span> (<span class="cart-btn-count">2</span> items)</a>
	                        <div class="cart-items">
	                        	<div class="cart">
									<ul>
										<li class="cart-item">
											<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
											<a class="cover" href="single-product.html">
												<img src="img/recent-post-1.jpg" alt="cart cover">
											</a>
											<p class="title">
												<a href="single-product.html">Duis Aute Irure Dolor</a>
											</p>
											<span class="price"><span class="item-price-number">3 x 2500</span>$</span>
										</li>

										<li class="cart-item">
											<a href="#" class="remove-from-cart"><i class="icon-delete-passive"></i></a>
											<a class="cover" href="single-product.html">
												<img src="img/recent-post-2.jpg" alt="cart cover">
											</a>
											<p class="title">
												<a href="single-product.html">Temporibus Autem Quibus</a>
											</p>
											<span class="price"><span class="item-price-number">3 x 1500</span>$</span>
										</li>
									</ul>

									<div class="sub-total">
										Subtotal: <span>$12, 000</span>
									</div>

									<a href="cart.html" class="btn view-cart yellow">view cart</a>
									<a href="#" class="btn checkout">checkout</a>
								</div>
							</div>
	                    </li>
	                    <li class="custom-select">
							<span class="default"><i class="fa fa-globe"></i><span class="content">Eng</span></span>
							<ul class="select-options dismiss">
								<li>Eng</li>
								<li>Rus</li>
								<li>Esp</li>
								<li>Fra</li>
							</ul>
	                    </li>
	                </ul>
                </div>
            </div>

            <div class="bottom-header">
            	<div class="container">
            		<span class="mobile-navigation-toggle hidden-md hidden-lg">
						<span class="menui top-menu"></span>
						<span class="menui mid-menu"></span>
						<span class="menui bottom-menu"></span>
					</span>

            		<div class="logo">
            			<a href="index.html">
            				<img src="img/logo-trans.png" alt="logo">
            			</a>
            		</div>
				   	
				   	<div class="right-box">
						<nav class="main-nav">
						    <ul class="menu">
						        <li class="menu-item menu-item-has-children has-mega-menu">
						            <a href="#">Home</a>
						            <ul class="row megamenu-wrap">
										<li class="menu-item col-sm-3">
											<a href="#">Corporate</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index.html">Traditional Corporate 1</a></li>
	                                            <li><a href="index-2.html">Traditional Corporate 2</a></li>
	                                            <li><a href="index-7.html">Corporate with Partial Header Image</a></li>
	                                            <li><a href="index-4.html">Corporate with Fullscreen Slider</a></li>
	                                        </ul>
	                                    </li>
                         
                                   		<li class="menu-item col-sm-3">
											<a href="#">Creative</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-12.html">Side Menu Corporate</a></li>
	                                            <li><a href="index-3.html">Creative Agency with Header Hover</a></li>
	                                            <li><a href="index-5.html">Creative Studio with Transparent Header</a></li>
	                                        </ul>
	                                    </li>
                                  		
                                  		<li class="menu-item col-sm-3">
                                  			<a href="#">Portfolio</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-9.html">Onepage Scroll Portfolio</a></li>
	                                            <li><a href="index-8.html">Application Presentation</a></li>
	                                            <li><a href="index-6.html">Shop with Full Thumb Products</a></li>
	                                        </ul>
	                                    </li>
                               
                                   		<li class="menu-item col-sm-3">
                                  			<a href="#">One Page</a>
	                                        <ul class="sub-menu">
	                                            <li><a href="index-11.html">Fullscreen Photography</a></li>
	                                            <li><a href="index-10.html">Photo Studio</a></li>
	                                        </ul>
	                                    </li>  
                                    </ul>
						        </li>
						        <li class="menu-item menu-item-has-children">
						            <a href="#">Pages</a>
						            <ul class="sub-menu">
						                <li class="menu-item">
						                    <a href="about.html">About</a>
						                </li>
						                <li class="menu-item">
						                    <a href="services.html">Services</a>
						                </li>
						                <li class="menu-item">
						                    <a href="showreel.html">Showreel</a>
						                </li>
						                <li class="menu-item">
						                    <a href="404-page.html">404</a>
						                </li>
						                 <li class="menu-item">
						                    <a href="coming-soon.html">Coming Soon</a>
						                </li>
						                 <li class="menu-item">
						                    <a href="gallery.html">Gallery</a>
						                </li>
						                <li class="menu-item">
						                    <a href="careers.html">Careers</a>
						                </li>
						                <li class="menu-item">
						                    <a href="faq.html">FAQ</a>
						                </li>
						                <li class="menu-item">
						                    <a href="typography.html">Typography</a>
						                </li>
						            </ul>  
						        </li>
								<li class="menu-item menu-item-has-children">
								    <a href="#">Portfolio</a>
								    <ul class="sub-menu">
								        <li class="menu-item menu-item-has-children">
								            <a href="#">Grid</a>
								             <ul class="sub-menu">
								                <li class="menu-item">
								                    <a href="portfolio-1col.html">1 Column</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-2col.html">2 Columns</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-3col.html">3 Columns</a>
								                </li>
								                <li class="menu-item">
								                    <a href="portfolio-4col.html">4 Columns</a>
								                </li>
								            </ul>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio-masonry.html">Masonry</a>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio-wall.html">Wall</a>
								        </li>
								        <li class="menu-item">
								            <a href="portfolio.html">Without Borders</a>
								        </li>
								        <li class="menu-item">
								            <a href="single-portfolio.html">Single Portfolio</a>
								        </li>
								    </ul>
								</li>
								<li class="menu-item menu-item-has-children">
								    <a href="#">Journal</a>
								    <ul class="sub-menu">
								        <li class="menu-item">
								            <a href="blog-listing-nosidebar.html">Journal Listing</a>
								        </li>
								        <li class="menu-item">
								            <a href="blog-listing.html">With Right Sidebar</a>
								        </li>
								        <li class="menu-item">
								            <a href="blog.html">With Columns</a>
								        </li>
								        <li class="menu-item menu-item-has-children">
								            <a href="#">Single Post</a>
								            <ul class="sub-menu">
								                <li class="menu-item">
								                    <a href="single-post-full.html">Fullwidth Post</a>
								                </li>
								                <li class="menu-item">
								                    <a href="single-post.html">Post With Partial Image</a>
								                </li>
								                <li class="menu-item">
								                    <a href="single-post-big.html">Post With Big Image</a>
								                </li>
								            </ul>
								        </li>
								    </ul>
								</li>
						        <li class="menu-item menu-item-has-children current-menu-parent">
						            <a href="#">Shop</a>
						            <ul class="sub-menu">
						                <li class="menu-item">
						                    <a href="shop.html">All Products</a>
						                </li>
						                <li class="menu-item">
						                    <a href="shop-sidebar.html">All Products With Sidebar</a>
						                </li>
						                <li class="menu-item current-menu-item">
						                    <a href="single-product.html">Single Product</a>
						                </li>
						                <li class="menu-item">
						                    <a href="cart.html">Cart</a>
						                </li>
						            </ul>
						        </li>
						        <li class="menu-item">
						            <a href="contact.html">Contact</a>
						        </li>
						    </ul>
						</nav>

						<div class="search-trigger">
					   		<i class="icon fa fa-search dismiss"></i>
					   		<div class="search-box dismiss">
					   			<form class="search-form dismiss" action="#">
					   				<div class="input-line dismiss">
						   				<input type="text" class="search-input dismiss" placeholder="Search">
						   				<button class="search-submit dismiss"><i class="fa fa-search"></i></button>
						   			</div>
					   			</form>
					   		</div>
					   	</div>
					</div>
            	</div>
            </div>
		</header>

		<!-- Main Content -->
		<div class="content-wrapper">
			<section class="single-product">
				<div class="container">
					<div class="row">
						<div class="col-md-6 carousel-col">
							<div class="photo-slider">
								<div class="slick-carousel cover-photos-slider" data-items-desktop="1" data-dots="false" data-arrows="false" data-infinite="false">
									<ul class="clean-list carousel-items">
										<li class="carousel-item">
											<div class="image">
												<img src="img/shop-product-1.png" alt="product photo" />
												<a href="img/shop-product-1.png" class="photozoom"></a>
											</div>
										</li>

										<li class="carousel-item">
											<div class="image">
												<img src="img/shop-product-2.png" alt="product photo" />
												<a href="img/shop-product-2.png" class="photozoom"></a>
											</div>
										</li>

										<li class="carousel-item">
											<div class="image">
												<img src="img/shop-product-3.png" alt="product photo" />
												<a href="img/shop-product-3.png" class="photozoom"></a>
											</div>
										</li>
									</ul>
								</div>

								<!-- Navigation -->
								<div class="slick-carousel nav-carousel" data-items-desktop="3" data-items-small-desktop="3" data-items-tablet="2" data-items-phone="2" data-infinite="false" data-dots="true" data-arrows="false" data-items-to-slide="1" data-as-nav-for=".cover-photos-slider .carousel-items">
									<ul class="clean-list carousel-items">
										<li class="carousel-item">
											<div class="image">
												<img src="img/shop-product-1.png" alt="product photo" />
											</div>
										</li>

										<li class="carousel-item">
											<div class="image">
												<img src="img/shop-product-2.png" alt="product photo" />
											</div>
										</li>

										<li class="carousel-item">
											<div class="image">
												<img src="img/shop-product-3.png" alt="product photo" />
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="product-description">
								<ul class="rating clean-list">
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star"></i></li>
									<li><i class="fa fa-star-o"></i></li>
									<li class="count">25</li>
								</ul>
								<h1>Round metal <br/>Sunglasses</h1>
								<p class="amount">$25,000<span>$35,000</span></p>
								<div class="entry">
									<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudian sint et molestiae non recusandae. Itaque earum rerum hic. Morbiset venenatis nisi sed enim vulputate, nec eleifend ex imperdiet te. Donec vitae sapien hendrerit mole. Nullam sem dui, faucibus vel vulputate sed eine, sodales vel leo. Sed ornare nibh faucibus eros ullam dictum. Curabitur condimentu, ligula non convallis consectetur, urna massa cursus leo, et sollicitudin dui ipsum sit amet leo. Donec eget elit mi. Donec volutpat lacinia urna in rutrum. Pellentesque elit mi, euismod sit amet posuere sed, volutpat nec nisi. Sed vitae arcu libero est eligen.</p>
									<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesenti voluptat deleniti atque corrupti quos dolores et quas molestias excepturi sint occaec cupiditate nonita provident, similique sunt in culpa qui officia deserunt mollitia ani, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita disti.</p>
								</div>
								
								<div class="actions">
									<form class="cart" action="javascript:void();">
		                                <div class="quantity">
		                                    <input class="input-text qty text" type="number" title="Qty" value="3" name="quantity">
		                                    <button class="btn yellow add-cart dark-hover">add to cart</button>
		                                </div>
		                            </form>

		                            <p class="product-id">Sku:<span>11f2a6387</span></p>
		                        </div>
							</div>
						</div>
					</div>

					<div class="product-tabs tabbed-content">
						<ul class="tabs">
							<li class="tab-link" data-tab="description">Description</li>
							<li class="tab-link" data-tab="additional">additional information</li>
							<li class="tab-link current" data-tab="reviews">reviews</li>
						</ul>

					 
					    <ul class="tabbed-body clean-list">
					        <li id="description" class="tab-content">
					        	<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudian sint et molestiae non recusandae. Itaque earum rerum hic. Morbiset venenatis nisi sed enim vulputate, nec eleifend ex imperdiet. Donec vitae sapien hendrerit mole. Nullam sem dui, faucibus vel vulputate sed, sodales vel leo. Se ornare nibh faucibus eros ullamcorper dictum. Curabitur condimentum, ligula non convallis consectetur, urna massa cursus leo, et sollicitudin dui ipsum sit amet leo. Donec eget elit mi. Donec volutpat lacinia urna in rutrum. Pellentesque elit mi, euismod sit amet posuere sed, volutpat nec nisi. Sed vitae arcu libero. Suspendisse quis mauris mas.</p>
					        	<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occa cupiditate nonita provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinct. Nam libero tempore, cum soluta nobis est eligendi optio cumque nih impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dol. </p>
					        </li>
					 
					        <li id="additional" class="tab-content">
					          	<ul class="product-additional clean-list">
									<li>Weight: 1.5 kg</li>
									<li>Dimensions: 200 x 110 x 55 cm</li>
									<li>Composition: 90% Leather, 10% Suede</li>
									<li>Other Info: Machine wash according to instructions on care label</li>
									<li>Size: Extra Large, Extra Small, Large, Medium, One Size Fits All, Small</li>
					          	</ul>
					        </li>
					 
					        <li id="reviews" class="tab-content current">
					           <div class="reviews">
									<h4 class="box-title">2 reviews for round metal sunglasses</h4>
									<ul class="reviews-list">
										<li class="review">
											<div class="review-body">
												<div class="avatar">
													<img src="img/comment-item-thumb.jpg" alt="review img">
												</div>
												<h5 class="name">Russell White <span>June 25, 2019</span></h5> 
												<ul class="rating clean-list">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
												<p class="description">Great design. Great flexibility. I can strongly recommend that great theme!</p>
											</div>
										</li>

										<li class="review">
											<div class="review-body">
												<div class="avatar">
													<img src="img/comment-item-thumb-2.jpg" alt="review img">
												</div>
												<h5 class="name">Janet Kelly <span>June 25, 2019</span></h5>
												<ul class="rating clean-list">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-o"></i></li>
												</ul>
												<p class="description">One of the smartest looking themes out at the moment with lots of options. Everything seems to work right out of the box and with the latest site I’ve done I’m so happy I’ve used this theme as I haven’t needed to go back to the author asking for fixes - awesome.</p>
											</div>
										</li>
									</ul>
								</div>

								<div class="review-form">
									<h5 class="box-title">add your review</h5>
									<form class="respond-form" action="javascript:void(0);">
										<div class="row">
											<div class="col-sm-6">
												<div class="input-line">
													<input type="text" name="contact-name" class="check-value">
													<span>Your name</span>
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-line">
													<input type="text" name="contact-email" class="check-value">
													<span>Your email</span>
												</div>
											</div>
										</div>

										<div class="input-line textarea">
											<textarea class="check-value" name="contact-message" placeholder=""></textarea>
											<span>Message</span>
										</div>
										<div class="rating-select">
											<div class="stars">
												<span class="title">your rating</span>
												<input class="star star-1" id="star-1" type="radio" name="star"/>
												<label class="star star-1" for="star-1"></label>
												<input class="star star-2" id="star-2" type="radio" name="star"/>
												<label class="star star-2" for="star-2"></label>
												<input class="star star-3" id="star-3" type="radio" name="star"/>
												<label class="star star-3" for="star-3"></label>
												<input class="star star-4" id="star-4" type="radio" name="star"/>
												<label class="star star-4" for="star-4"></label>
												<input class="star star-5" id="star-5" type="radio" name="star"/>
												<label class="star star-5" for="star-5"></label>
											</div>
										</div>
										<button class="form-send" type="submit">add a comment</button>
									</form>
								</div>
					        </li>
						</ul>
					</div>

					<div class="related-items">
						<h4 class="box-title">Related Products</h4>

						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="shop-item-small bg-alfa">
									<div class="cover">
										<img src="img/shop-item-small-1.png" alt="shop item">
									</div>
									<h6><a href="#">solid black round frame</a></h6>
									<p class="sub-title">Cool and Strong Look</p>
									<ul class="rating clean-list">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star-o"></i></li>
										<li class="count">25</li>
									</ul>
									<div class="actions">
										<span class="price">$1,500</span>
										<a class="add-btn shop" href="#">add to cart</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="shop-item-small bg-alfa">
									<div class="cover">
										<img src="img/shop-item-small-2.png" alt="shop item">
									</div>
									<h6><a href="#">Round Green Glasses</a></h6>
									<p class="sub-title">Trendy &amp; Stunning</p>
									<ul class="rating clean-list">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star-o"></i></li>
										<li class="count">25</li>
									</ul>
									<div class="actions">
										<span class="price">$900</span>
										<a class="add-btn shop" href="#">add to cart</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="shop-item-small bg-alfa">
									<div class="cover">
										<img src="img/shop-item-small-3.png" alt="shop item">
									</div>
									<h6><a href="#">Metal eyeglasses</a></h6>
									<p class="sub-title">Chick &amp; Unique</p>
									<ul class="rating clean-list">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star-o"></i></li>
										<li class="count">25</li>
									</ul>
									<div class="actions">
										<span class="price">$500</span>
										<a class="add-btn shop" href="#">add to cart</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="shop-item-small bg-alfa">
									<div class="cover">
										<img src="img/shop-item-small-4.png" alt="shop item">
									</div>
									<h6><a href="#">Opal sunglasses</a></h6>
									<p class="sub-title">Sleek &amp; Stylish</p>
									<ul class="rating clean-list">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star-o"></i></li>
										<li class="count">25</li>
									</ul>
									<div class="actions">
										<span class="price">$1,500</span>
										<a class="add-btn shop" href="#">add to cart</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- Footer -->
		<footer>
			<div class="top-footer">
				<div class="container">
					<div class="row isotope">
						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_contact">
	                            <h4 class="widget-title">Contact Info</h4>
	                            <div class="widget-body">
	                            	<ul class="contact-info clean-list">
	                            		<li>
	                            			<span class="title">Address:</span>
		                            		<p>21 King Street, </p>
		                            		<p>Melbourne Victoria 3000 </p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Phone:</span>
		                            		<p>+1 (800) 456 37 96 - Office</p>
		                            		<p>+1 (800) 617 28 32 - Fax</p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Email:</span>
		                            		<p><a href="mailto:email@gt3themes.com">email@gt3themes.com</a></p>
	                            		</li>
	                            		<li>
	                            			<span class="title">Follow Us:</span>
		                            		<ul class="socials clean-list">
		                            			<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-behance-square"></i></a></li>
		                            			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
		                            		</ul>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_instagram">
	                            <h4 class="widget-title">Follow Instagram</h4>
	                            <div class="widget-body">
	                            	<ul class="instagram-feed clean-list" data-instagram="12" data-instagram-username="mrgicucaus"></ul>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_tag_cloud">
	                            <h4 class="widget-title">Popular Tags</h4>
	                            <div class="widget-body">
	                            	<div class="tagcloud">
	                            		<a href="#">art</a>
	                            		<a href="#">audio</a>
	                            		<a href="#">beauty</a>
	                            		<a href="#">concepts</a>
	                            		<a href="#">entertainment</a>
	                            		<a href="#">gallery</a>
	                            		<a href="#">ideas</a>
	                            		<a href="#">image</a>
	                            		<a href="#">lifestyle</a>
	                            		<a href="#">link</a>
	                            		<a href="#">nature</a>
	                            		<a href="#">people</a>
	                            		<a href="#">post</a>
	                            		<a href="#">quote</a>
	                            		<a href="#">video</a>
	                            	</div>
	                            </div>
	                        </div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 isotope-item">
							<div class="widget widget_recent_posts">
	                            <h4 class="widget-title">Recent Posts</h4>
	                            <div class="widget-body">
	                            	<ul class="recent-posts clean-list">
	                            		<li>
	                            			<img class="cover" src="img/recent-post-1.jpg" alt="recent post">
	                            			<h4><a href="#">Duis Aute Irure Dolor</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-2.jpg" alt="recent post">
	                            			<h4><a href="#">Temporibus Autem Quibus</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            		<li>
	                            			<img class="cover" src="img/recent-post-3.jpg" alt="recent post">
	                            			<h4><a href="#">Saepe Eveniet Ut Et</a></h4>
	                            			<span class="date">June 09, 2018</span>
	                            		</li>
	                            	</ul>
	                            </div>
	                        </div>
						</div>
					</div>
				</div>
			</div>

			<div class="bottom-footer">
				<div class="container">
					<div class="alignleft align-left copyright">
						Copyright © 2020 WhiteSpace. All Rights Reserved.
					</div>

					<div class="alignright align-right copyright">
						Multi-Purpose WordPress Theme by <a href="http://gt3themes.com">GT3themes.com</a>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/isotope.js"></script>
	<script type="text/javascript" src="js/slick.js"></script>
	<script type="text/javascript" src="js/options.js"></script>
</body>
</html>